<template>
  <div class="profile">
    <div class="header-block">РЕЙТИНГ И СТАТУС ПОЛЬЗОВАТЕЛЯ</div>
    <div class="block-description">
      В системе ProfiTCentR пользователи могут иметь различные статусы аккаунта.
      Статус пользователя повышается в зависимости от его рейтинга. От Вашего
      статуса и рейтинга, зависит ваш заработок в системе. Чем выше ваш статус,
      тем больше ваш заработок и больше различных преимуществ по сравнению с
      рядовыми пользователями.
    </div>
    <p class="content-text__title">ЗА ЧТО НАЧИСЛЯЕТСЯ РЕЙТИНГ</p>
    <ul>
      <li>
        Заполнение личных данных (Имя, пол, дата рождения)
        <span>+5 баллов</span>
      </li>
      <li>
        Привлеченный реферал заполнил (Имя, пол, дата рождения)
        <span>+2 балла</span>
      </li>
      <li>
        Перевод средств с осн. счета на рекламный, за каждые полные 10 рублей
        <span>+1 балл</span>
      </li>
      <li>
        Реферал пополнил рекламный счет, за каждые полные 10 рублей
        <span>+0.5 балла</span>
      </li>
      <li>
        Вывод средств из системы, за каждые полные 10 рублей
        <span>+1 балл</span>
      </li>
      <li>
        Реферал вывел средства из системы, за каждые полные 10 рублей
        <span>+0.5 балла</span>
      </li>
      <li>
        Ежедневный бонус за активность <span>+0.2 балла</span> (Забираете в
        аккаунте сами раз в сутки)
      </li>
      <li>За каждое размещение на доске почета <span>+1 балл</span></li>
    </ul>
    <p class="content-text__title">ПРЕИМУЩЕСТВА СТАТУСОВ</p>
    <div class="carrier-statuses">
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Стажер"</span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 0 до 9 баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Стажер" получают все пользователи, сразу после прохождения
          процедуры регистрации на проекте. Это самый начальный и самый
          минимальный статус. "Стажеры" могут зарабатывать, привлекать, покупать
          рефералов, получать минимальный доход с рефералов и выводить средства
          из системы.
        </p>
      </div>
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Рабочий"</span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 10 до 99 баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Рабочий" это основной статус в системе. "Рабочие" могут
          зарабатывать, привлекать, продавать и покупать рефералов и выводить
          средства из системы. Свободные рефералы могут присоединяться к
          пользователям со статусом "Рабочий" и выше. По сравнению со
          "Стажерами", "Рабочие" получают стандартные реферальные отчисления.
          Для получения статуса "Рабочий", нужно набрать всего 10 баллов
          рейтинга.
        </p>
      </div>
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Бригадир"</span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 100 до 249 баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Бригадир" это повышенный статус в системе. "Бригадиры" могут
          зарабатывать, привлекать, покупать и продавать рефералов, выводить
          средства из системы. По сравнению с "Рабочими", "Бригадиры" получают
          повышенные реферальные отчисления. Для получения статуса "Бригадир",
          нужно набрать 100 баллов рейтинга.
        </p>
      </div>
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Мастер" </span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 250 до 599 баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Мастер" это повышенный статус в системе. "Мастера" обладают
          всеми преимуществами "Бригадиров", но имеют повышенные реферальные
          отчисления. Для получения статуса "Мастер", нужно набрать 250 баллов
          рейтинга.
        </p>
      </div>
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Прораб"</span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 600 до 999 баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Прораб" это повышенный статус в системе. "Прорабы" обладают
          всеми преимуществами "Мастеров", но имеют повышенные реферальные
          отчисления. Для получения статуса "прораб", нужно набрать 600 баллов
          рейтинга.
        </p>
      </div>
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Бизнесмен</span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 1000 до 9999 баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Бизнесмен" это высокий статус в системе. "Бизнесмены" обладают
          преимуществами всех вышеперечисленных статусов, имеют самые высокие,
          реферальные отчисления от рефералов 1го уровня и от рефералов 2го
          уровня. Для получения статуса "Бизнесмен", нужно набрать 1000 баллов
          рейтинга.
        </p>
      </div>
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Депутат"</span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 10000 до 49999 баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Депутат" это высокий статус в системе. "Депутаты" обладают
          преимуществами всех вышеперечисленных статусов. Для получения статуса
          "Депутат", нужно набрать 10000 баллов рейтинга. "Депутаты" могут
          удалять необоснованные отзывы на своей стене, необоснованные отзывы о
          своих заданиях.
        </p>
      </div>
      <div class="carrier-statuses__item">
        <p class="carrier-statuses__item-header">
          <span class="carrier-statuses__item-title">Статус "Олигарх"</span
          ><span class="carrier-statuses__item-ball"
            >(Рейтинг от 50000 и более баллов)</span
          >
        </p>
        <p class="carrier-statuses__item-descr">
          Статус "Олигарх" это максимально высокий статус в системе. "Олигарх"
          это круто!
        </p>
      </div>
    </div>
    <p class="content-text__title">Сравнительная таблица статусов</p>
    <div class="table-response">
      <table class="carrier-compare">
        <thead>
          <tr>
            <th></th>
            <th>СТАЖЕР</th>
            <th>Рабочий</th>
            <th>Бригадир</th>
            <th>Мастер</th>
            <th>Прораб</th>
            <th>Бизнесмен</th>
          </tr>
          <tr>
            <th>Рейтинг</th>
            <th>0 - 9</th>
            <th>10 - 99</th>
            <th>100 - 249</th>
            <th>250 - 599</th>
            <th>600 - 999</th>
            <th>1000 и больше</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Доход от рефералов 1 уровня (Серфинг, Письма)</td>
            <td>10%</td>
            <td>20%</td>
            <td>30%</td>
            <td>40%</td>
            <td>50%</td>
            <td>60%</td>
          </tr>
          <tr>
            <td>
              Доход от рефералов 1 уровня (Задания, Тесты, YouTube, VK,
              Instagram)
            </td>
            <td>3%</td>
            <td>5%</td>
            <td>5%</td>
            <td>7%</td>
            <td>7%</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>Доход от рефералов 1 уровня (Размещения на доске почета)</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>Доход от рефералов 2 уровня (Серфинг, Письма, Задания)</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>10%</td>
          </tr>
          <tr>
            <td>Доход от рефералов 2 уровня (Тесты, YouTube, VK, Instagram)</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>5%</td>
          </tr>
          <tr>
            <td>Продажа рефералов на бирже</td>
            <td>Нет</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
          </tr>
          <tr>
            <td>Возможность оставлять комментарии на стенах пользователей</td>
            <td>Нет</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
          </tr>
          <tr>
            <td>На стене кнопка: "Хочу стать его рефералом"</td>
            <td>Нет</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
            <td>Да</td>
          </tr>
          <tr>
            <td>Вывод средств из системы</td>
            <td>1 раз в сутки 5 - 10 руб.</td>
            <td>1 раз в сутки Макс. 50 руб.</td>
            <td>1 раз в сутки Макс. 100 руб.</td>
            <td>1 раз в сутки Макс. 150 руб.</td>
            <td>1 раз в сутки Макс. 200 руб.</td>
            <td>1 раз в сутки Макс. 300 руб.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style lang="scss">
.carrier-statuses__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 8px $gap;
}
.carrier-statuses__item-title {
  color: $current-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  max-width: 50%;
}
.carrier-statuses__item-ball {
  max-width: 50%;
  color: $second-color;
  font-size: 16px;
}
.carrier-compare {
  tr {
    &:first-of-type {
      th {
        background-color: $current-color;
        color: #fff;
        text-transform: uppercase;
      }
    }
    th {
      background-color: #f5f5f5;
      color: $second-color;
    }
  }
}
</style>
