<template>
  <div class="profile">
    <div class="header-block">ЛИЧНЫЕ ДАННЫЕ</div>
    <div class="profile-container">
      <div class="profile-header">
        <img
          src="~/assets/images/avatars/100.png"
          alt=""
          class="profile-avatar"
        />
        <div class="profile-info">
          <div class="profile-btn">
            <button class="btn btn-default">Загрузить фото</button>
            <button class="btn btn-primary">Удалить</button>
          </div>
          <div class="profile-descirption">
            Картинка для аватара не должна превышать 210х185 пикселей и быть не
            более 100 килобайт. Минимальный размер 60x60px. Принимаются картинки
            таких типов: gif, jpg, jpeg, png.
          </div>
        </div>
      </div>
      <form class="form-task form-task__border-top">
        <div class="form-task__container">
          <div class="form-task__group">
            <div class="form-task__item">
              <label for="">Мое имя: (Макс. 12 символов)</label>
            </div>
            <div class="form-task__item">
              <input type="text" />
            </div>
          </div>
          <div class="form-task__group">
            <div class="form-task__item">
              <label for="">Мой пол:</label>
            </div>
            <div class="form-task__item">
              <select id="" name="">
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
              </select>
            </div>
          </div>
          <div class="form-task__group">
            <div class="form-task__item">
              <label for="">Дата рождения:</label>
            </div>
            <div class="form-task__item">
              <input type="date" />
            </div>
          </div>
          <div class="form-task__group">
            <div class="form-task__item">
              <label for="">E-mail: (Подтвержден)</label>
            </div>
            <div class="form-task__item">
              <input type="text" />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default btn-margin__auto">
          Сохранить
        </button>
      </form>
    </div>
    <div class="header-block__second">Платежные реквизиты</div>
    <div class="profile-pay">
      <div class="profile-pay__box">
        <div class="profile-pay__item">
          <label for=""
            ><img src="~/assets/images/pay/icon-webmoney.png" alt="" /> WebMoney
            (WMR)</label
          >
        </div>
        <div class="profile-pay__item">
          <input type="text" />
        </div>
        <div class="profile-pay__item"></div>
      </div>
      <div class="profile-pay__box">
        <div class="profile-pay__item">
          <label for=""
            ><img src="~/assets/images/pay/icon-yandex.png" alt="" />
            Яндекс.деньги</label
          >
        </div>
        <div class="profile-pay__item">
          <input type="text" />
        </div>
        <div class="profile-pay__item"></div>
      </div>
      <div class="profile-pay__box">
        <div class="profile-pay__item">
          <label for=""
            ><img src="~/assets/images/pay/icon-py.png" alt="" /> PAYEER</label
          >
        </div>
        <div class="profile-pay__item">
          <input type="text" />
        </div>
        <div class="profile-pay__item"></div>
      </div>
      <div class="profile-pay__box">
        <div class="profile-pay__item">
          <label for=""
            ><img src="~/assets/images/pay/icon-pm.png" alt="" />
            PerfectMoney</label
          >
        </div>
        <div class="profile-pay__item">
          <input type="text" />
        </div>
        <div class="profile-pay__item"></div>
      </div>
      <div class="profile-pay__box">
        <div class="profile-pay__item">
          <label for=""
            ><img src="~/assets/images/pay/icon-phone.png" alt="" /> Mobile
            Phone</label
          >
        </div>
        <div class="profile-pay__item">
          <input type="text" placeholder="Только Россиия" />
        </div>
        <div class="profile-pay__item"></div>
      </div>
    </div>
    <div class="header-block__second">Привязки соцсетей</div>
    <div class="profile-social">
      <div class="profile-social__item">
        <span class="profile-social__icon"><IconYouTube /></span>
        <div class="profile-social__description">
          <a href="" class="btn btn-default">Привязать YouTube аккаунт</a>
          <p>
            После привязки Ютуб аккаунта вы сможете отвязать его и привязать
            новый, но прошлый уже никогда и не в каком аккаунте использовать
            будет нельзя
          </p>
        </div>
      </div>
      <div class="profile-social__item">
        <span class="profile-social__icon"><IconVk /></span>
        <div class="profile-social__description">
          <a href="" class="btn btn-default">Привязать VK аккаунт</a>
          <p>
            Вы можете отвязать свой действующий аккаунт и привязать новый, но
            прошлый уже никогда и не в каком аккаунте использовать будет нельзя
          </p>
        </div>
      </div>
    </div>
    <div class="header-block__second">
      Если нужно изменить пароль (от 6 до 40 символов)
    </div>
    <p class="_blockDescription">
      После смены пароля потребуется повторная авторизация
    </p>
    <form class="form-task form-task__border-top">
      <div class="form-task__container">
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Старый пароль:</label>
          </div>
          <div class="form-task__item">
            <input type="password" />
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Новый пароль:</label>
          </div>
          <div class="form-task__item">
            <input type="password" />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-margin__auto">
        Сохранить
      </button>
    </form>
    <div class="header-block__second">Отпуск</div>
    <p class="block-description">
      Активировав Отпуск вы можете не беспокоиться 120 дней, что ваш аккаунт
      будет удален. После нажатия: "Уйти в отпуск" автоматически произойдет
      выход из аккаунта, и Вы в отпуске! Сообщать когда вы выйдете из отпуска не
      нужно. Если вы зашли в свой аккаунт - значит вышли из отпуска и можете
      сразу приступить к работе.
    </p>
    <button type="submit" class="btn btn-primary btn-margin__auto">
      Уйти в отпуск
    </button>
  </div>
</template>

<script>
import IconVk from '@/static/icons/svg/vk.svg?inline'
import IconYouTube from '@/static/icons/svg/youtube.svg?inline'
export default {
  components: {
    IconVk,
    IconYouTube,
  },
  head() {
    return {
      title: 'ЛИЧНЫЕ ДАННЫЕ',
      meta: [
        {
          hid: 'ЛИЧНЫЕ ДАННЫЕ',
          name: 'ЛИЧНЫЕ ДАННЫЕ',
          content: 'ЛИЧНЫЕ ДАННЫЕ',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.profile-container {
  margin: 30px 0;
}
.profile-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.profile-btn {
  display: flex;
  align-items: center;
  margin-bottom: 2 * $gap;
  .btn-primary {
    margin-left: 20px;
  }
}
.profile-avatar {
  margin-right: 2 * $gap;
}
.profile-pay {
  margin: 2 * $gap 0;
}
.profile-pay__box {
  display: flex;
  justify-content: space-between;
}
.profile-pay__item {
  width: calc(100% / 3);
  padding: 5px;
  border-bottom: 1px solid #ccd6e6;
  border-right: 1px solid #ccd6e6;
  img {
    margin-right: 5px;
  }
  label {
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
  }
}
.profile-social__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ccd6e6;
}
.profile-social__icon {
  background-color: $second-color;
  display: flex;
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 2 * $gap;
  svg {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
}
.profile-social__description {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  .btn {
    margin-left: 2 * $gap;
    font-size: 12px;
    min-width: 220px;
    padding: 0 10px;
    text-align: center;
  }
}
</style>
