<template>
  <div class="cabinet-wall">
    <div class="header-block">Поиск пользователей</div>
    <div class="search-form">
      <input
        type="text"
        class="search-input"
        placeholder="Логин пользователя"
      />
    </div>
    <div class="header-block">Стена пользователя (ID: 15) Zumix</div>
    <div class="cabinet-wall__link"></div>
    <div class="cabinet-wall__user">
      <div class="cabinet-wall__info">
        <img
          src="~/assets/images/avatars/100.png"
          alt="Zumix"
          title="Zumix"
          class="cabinet-wall__user-pic"
        />
        <div class="cabinet-wall__user-actions">
          <span class="badge badge-green">Вы в друзьях</span>
          <button class="btn btn-default">Стать рефералом</button>
          <button class="btn btn-primary">Отправить письмо</button>
        </div>
      </div>
      <table>
        <tbody>
          <tr>
            <td>Логин, Имя</td>
            <td>Zumix</td>
          </tr>
          <tr>
            <td>Статус, рейтинг</td>
            <td>Мастер / 505</td>
          </tr>
          <tr>
            <td>Регистрация</td>
            <td>2019-06-17 17:28:34</td>
          </tr>
          <tr>
            <td>Заходила</td>
            <td>2019-06-17 17:28:34</td>
          </tr>
          <tr>
            <td>Рефералов / Авто-рефбек</td>
            <td>Не указан</td>
          </tr>
          <tr>
            <td>Автор заданий</td>
            <td>
              <div class="span_box">
                <span class="blue">0</span> <span class="font">/</span>
                <span class="black">0</span> <span class="font">/</span>
                <span class="orange">0</span> <a href="" class="help_link">?</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cabinet-wall__user-comment">
      <span class="cabinet-wall__user-comment-title"
        >Комментарий владельца стены:</span
      >
      <div class="cabinet-wall__user-comment-text">000000000000000000000</div>
    </div>
    <div class="cabinet-wall__friends">
      <div class="cabinet-wall__friends-item">
        <a class="all__friend">Друзья (1)</a>
        <div class="box-user-wall">
          <a href="~/assets/images/avatars/100.png"
            ><img
              src="/storage/images/uploads/avatar/small/2019-05-05-093709.png"
              alt="Aslero"
            />
            <p class="name">Aslero</p></a
          >
        </div>
      </div>
      <div class="cabinet-wall__friends-item">
        <a class="online__friend">Общие друзья (0)</a>
        <div class="box-user-wall">Нет друзей</div>
      </div>
    </div>
    <div class="cabinet-wall__presents">
      <div class="content-dropdown__header">
        <p class="content-dropdown__title">Подарки (7)</p>
        <span class="open-modal">отправить подарок</span>
      </div>
      <div class="box-present-category">
        <div class="list-presents wall">
          <div class="item_img">
            <img
              src="/storage/images/uploads/presents/3767e7bb3d6603547a0f1ab66998839b.png"
              alt="С днем рождения 9р"
            />
            <div class="comments-present">
              <p class="comments-present_header">
                <span class="user">Aslero</span>
                <span class="date">2019-06-30 13:29:03</span>
              </p>
              <p class="comments-present_body">sdfsdfsdfsdfsdf</p>
            </div>
          </div>
          <div class="item_img">
            <img
              src="/storage/images/uploads/presents/75a41c2f57740a8c1b2407797e97c87d.png"
              alt="С днем рождения"
            />
            <div class="comments-present">
              <p class="comments-present_header">
                <span class="user">Aslero</span>
                <span class="date">2019-06-30 13:30:25</span>
              </p>
              <p class="comments-present_body">sdfsdfsdfsdfsdfsdfsdfsdf</p>
            </div>
          </div>
          <div class="item_img">
            <img
              src="/storage/images/uploads/presents/ff5649f88a232b65188357be4fcf1bdd.png"
              alt="С днем рождения 19р"
            />
            <div class="comments-present">
              <p class="comments-present_header">
                <span class="user">Aslero</span>
                <span class="date">2019-06-30 13:31:11</span>
              </p>
              <p class="comments-present_body">sasdasdasdas asd cczczxc</p>
            </div>
          </div>
          <div class="item_img">
            <img
              src="/storage/images/uploads/presents/3767e7bb3d6603547a0f1ab66998839b.png"
              alt="С днем рождения 9р"
            />
            <!---->
          </div>
          <div class="item_img">
            <img
              src="/storage/images/uploads/presents/3767e7bb3d6603547a0f1ab66998839b.png"
              alt="С днем рождения 9р"
            />
            <!---->
          </div>
          <div class="item_img">
            <img
              src="/storage/images/uploads/presents/ac0f81f6015ae86a313d2dacc13f2c51.png"
              alt="С днем победы 9р"
            />
            <!---->
          </div>
          <div class="item_img">
            <img
              src="/storage/images/uploads/presents/ac0f81f6015ae86a313d2dacc13f2c51.png"
              alt="С днем победы 9р"
            />
            <div class="comments-present">
              <p class="comments-present_header">
                <span class="user">Aslero</span>
                <span class="date">2019-09-04 21:42:30</span>
              </p>
              <p class="comments-present_body">ertertertertert</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-dropdown">
      <div class="content-dropdown__header">
        <p class="content-dropdown__title header-block">
          Статистика пользователя login666
        </p>
      </div>
      <div class="content-dropdown__body">
        <div class="data-comment__list">
          <canvas id="myChart" height="100"></canvas>
          <table class="stat-week">
            <thead>
              <tr>
                <th></th>
                <th>Всего</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Серфинг</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Задания</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Письма</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Тесты</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Youtube</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>VK</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Instagram</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="content-dropdown">
      <div class="content-dropdown__header">
        <p class="content-dropdown__title">Комментарии: 0 [+0 / -0]</p>
      </div>
      <div class="content-dropdown__body">
        <div class="data-comment__list">
          <p class="no-comment">Нет комментариев о данном пользователе</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.cabinet-wall__user {
  display: flex;
  align-items: flex-start;
  padding: 2 * $gap $gap;
}
.cabinet-wall__user-comment {
  background-color: #f5f5f5;
  border: 1px solid #c4cede;
  padding: 10px $gap 15px;
}
.cabinet-wall__user-comment-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.content-dropdown {
  margin-bottom: 2 * $gap;
}
.content-dropdown__body {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.3s;
}
.content-dropdown__header {
  background-color: $current-color;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
</style>
