<template>
  <div
    class="drop-down"
    :class="{ 'drop-down__collapse': isActive }"
    @click="isActive = !isActive"
  >
    <div class="drop-down__header">
      <p class="drop-down__title">
        Не засчитываются задания в разделах YouTube (Ютюб), VK (Вконтакте)
      </p>
    </div>
    <div class="drop-down__body">
      <div class="drop-down__box">
        <p>
          При выполнении авто-заданий из разделов соцсети YouTube (Ютюб), VK
          (Вконтакте) система выдает: "Выполнение не засчитано. Подождите 10
          сек. и попробуйте еще раз."
        </p>
        <p><img alt="" src="img/f1.png" /></p>
        <p>
          Самая распространенная причина в том, что у Вас имеется несколько
          Google - YouTube или ВК аккаунтов. К нашему сайту ProfiTCentR Вы
          привязали один аккаунт, а в Вашем браузере авторизовались и выполняете
          задание с другого YouTube или ВК аккаунта! Естественно, что система не
          может его проверить.
        </p>
        <p><strong>YouTube</strong></p>
        <ol>
          <li>
            В правом верхнем углу Вашего YouTube аккаунта, кликните по своей
            аватарке и увидите в каком именно аккаунте вы авторизованы.
          </li>
          <li>
            Зайдите в раздел Меню - Личный кабинет - Мои личные данные и
            посмотрите какой аккаунт у Вас привязан к ProfiTCentR. Аккаунты
            должны совпадать.
          </li>
        </ol>
        <p><img alt="" src="img/f2.png" /></p>

        <p>
          Вы должны выполнять задание в том YouTube или ВК аккаунте, который у
          Вас привязан к аккаунту ProfiTCentr.
        </p>

        <p>В разделе ВК необходимо обязательно выполнить настройки:</p>

        <p>Кому в Интернете вида моя страница: Всем.</p>

        <p>Какие обновления видят в новостях мои друзья: Все обновления.</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isActive: false,
    }
  },
}
</script>
<style lang="scss"></style>
