<template>
  <div class="content-text">
    <div class="header-block">РАЗМЕЩЕНИЕ РЕКЛАМЫ</div>
    <p class="content-text__title">КАТАЛОГ САЙТОВ</p>
    <div class="_blockDescription">
      Основой продвижения сайта в поисковых системах являются показатели ТиЦ
      (Яндекс) и PageRank (Google). Лучшим способом наращивания этих показателей
      является размещение ссылки вашего ресурса на сайтах, которые уже имеют
      солидный показатель. Поэтому размещение вашей ссылки в нашем каталоге —
      идеальное решение!
    </div>
    <div class="header-block">РАЗМЕЩЕНИЕ ССЫЛКИ В КАТАЛОГЕ</div>
    <form class="form-task">
      <div class="form-task__container">
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">URL сайта (с http://)</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
            <!--<div class="form-taskTooltip">
              <span class="form-taskTooltipIcon">?</span>
              <div class="form-taskTooltipData"><b>URL-адрес сайта</b> должен начинаться с http:// или https://<br>и содержать не более 160 символов. Не используйте HTML-теги и Java-скрипты.<br>
                За попытки взлома системы, наказание - удаление аккаунта
              </div>
            </div>-->
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Описание ссылки</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
            <!--<div class="form-taskTooltip">
              <span class="form-taskTooltipIcon">?</span>
              <div class="form-taskTooltipData">
                <b>Описание ссылки</b> - максимум 60 символов.<br>Описание должно быть коротким и понятным.<br>Не пишите заглавными буквами. Соблюдайте грамматику.
                Не используйте множество однотипных знаков. Небрежное описание оттолкнет потенциальных посетителей.
              </div>
            </div>-->
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Количество дней</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
            <!--<div class="form-taskTooltip">
              <span class="form-taskTooltipIcon">?</span>
              <div class="form-taskTooltipData">
                <b>Кол-во дней</b> - колличество дней на которое желаете разместить вашу ссылку.
              </div>
            </div>-->
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Выделить цветом</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
            <!--<div class="form-taskTooltip">
              <span class="form-taskTooltipIcon">?</span>
              <div class="form-taskTooltipData">
                b>Выделить ссылку</b> - ваша ссылка будет выделена красным цветом, что сделает ее заметнее на фоне других ссылок и соответственно привлечет больше посетителей
              </div>
            </div>-->
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Стоимость заказа</label>
          </div>
          <div class="form-task__item">
            <span class="form-taskCost">Всего 45 руб.</span>
            <!--<div class="form-taskTooltip">
              <span class="form-taskTooltipIcon">?</span>
              <div class="form-taskTooltipData">
                <b>Стоимость заказа</b> - сумма которую Вам необходимо оплатить.
              </div>
            </div>-->
          </div>
        </div>
        <div class="form-task__full">
          <div class="checkbox">
            <input id="politic" type="checkbox" name="politic" value="1" />
            <label for="politic"
              >С <a href="">Правилами</a> размещения рекламы полностью
              согласен(на)</label
            >
          </div>
        </div>
      </div>
      <button class="btn btn-default btn-margin__auto">
        Выбрать способ оплаты
      </button>
      <div class="pay-system__box">
        <div class="pay-system__item">
          <div class="pay-system__card">
            <img src="~/assets/images/pay/wbm.png" alt="WebMoney" />
            <span>45RUB(+ 0.8%)</span>
          </div>
        </div>
        <div class="pay-system__item">
          <div class="pay-system__card">
            <img src="~/assets/images/pay/yand.png" alt="Яндекс Деньги" />
            <span>45RUB(+ 2%)</span>
          </div>
        </div>
        <div class="pay-system__item">
          <div class="pay-system__card">
            <img src="~/assets/images/pay/qiwi.png" alt="Qiwi" />
            <span>45RUB</span>
          </div>
        </div>
        <div class="pay-system__item">
          <div class="pay-system__card">
            <img src="~/assets/images/pay/pay.png" alt="PayPal" />
            <span>45RUB(10 р. + 2.9% )</span>
          </div>
        </div>
        <div class="pay-system__item">
          <div class="pay-system__card">
            <img src="~/assets/images/pay/perm.png" alt="Perfect Money" />
            <span>0.64USD</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
