<template>
  <div class="content-text">
    <div class="header-block">КАТАЛОГ ИНДЕКСИРУЕМЫХ ССЫЛОК</div>
    <div class="block-description">
      Основой продвижения сайта в поисковых системах являются важные показатели
      ТиЦ (Яндекс) и PageRank (Google). Лучшим способом наращивания этих
      показателей является размещение ссылки вашего ресурса на сайтах, которые
      уже имеют солидный показатель.
    </div>
    <div class="catalog-links">
      <div class="catalog-links__item">
        <div class="catalog-links__site">
          <img
            src="https://www.google.com/s2/favicons?domain=http://citylink.msk.ru"
            alt=""
            class="catalog-linksFavicon"
          />
          <div class="catalog-links__info">
            <a href="" class="catalog-link"
              >ПРОЙДИТЕ ОПРОС и заработайте до 3000 ЕВРО ТОЛЬКО СЕГОДНЯ.</a
            >
            <span class="catalog-links__url"> №1 | http://citylink.msk.ru</span>
          </div>
        </div>
        <span class="meta-date">2019-07-08</span>
      </div>
      <div class="catalog-links__item">
        <div class="catalog-links__site">
          <img
            src="https://www.google.com/s2/favicons?domain=http://citylink.msk.ru"
            alt=""
            class="catalog-linksFavicon"
          />
          <div class="catalog-links__info">
            <a href="" class="catalog-link"
              >ПРОЙДИТЕ ОПРОС и заработайте до 3000 ЕВРО ТОЛЬКО СЕГОДНЯ.</a
            >
            <span class="catalog-links__url"> №1 | http://citylink.msk.ru</span>
          </div>
        </div>
        <span class="meta-date">2019-07-08</span>
      </div>
      <div class="catalog-links__item">
        <div class="catalog-links__site">
          <img
            src="https://www.google.com/s2/favicons?domain=http://citylink.msk.ru"
            alt=""
            class="catalog-linksFavicon"
          />
          <div class="catalog-links__info">
            <a href="" class="catalog-link"
              >ПРОЙДИТЕ ОПРОС и заработайте до 3000 ЕВРО ТОЛЬКО СЕГОДНЯ.</a
            >
            <span class="catalog-links__url"> №1 | http://citylink.msk.ru</span>
          </div>
        </div>
        <span class="meta-date">2019-07-08</span>
      </div>
      <div class="catalog-links__item">
        <div class="catalog-links__site">
          <img
            src="https://www.google.com/s2/favicons?domain=http://citylink.msk.ru"
            alt=""
            class="catalog-linksFavicon"
          />
          <div class="catalog-links__info">
            <a href="" class="catalog-link"
              >ПРОЙДИТЕ ОПРОС и заработайте до 3000 ЕВРО ТОЛЬКО СЕГОДНЯ.</a
            >
            <span class="catalog-links__url"> №1 | http://citylink.msk.ru</span>
          </div>
        </div>
        <span class="meta-date">2019-07-08</span>
      </div>
    </div>
    <nuxt-link to="/catalog/add" :class="'btn btn-primary btn-margin__auto'"
      >Разместить ссылку</nuxt-link
    >
  </div>
</template>
<style lang="scss">
.catalog-links__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6e6;
  padding: 10px;
  margin-bottom: 10px;
}
.catalog-links__site {
  display: flex;
  align-items: center;
}
.catalog-links__info {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
.catalog-link {
  color: $current-color;
  font-size: 14px;
  font-weight: 500;
}
.catalog-links__url {
  color: #868a88;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}
</style>
