<template>
  <div class="offer-page">
    <div class="header-block">Предложения по улучшению функционала проекта</div>
    <a href="/offers" class="btn btn-default btn-margin__auto"
      >к списку предложений</a
    >
    <div class="offer-wrapper">
      <div class="data-improv">
        <div class="offer-page__header">
          <p>Предложение №24 от пользователя <span>Aslero</span> (ID: 14)</p>
        </div>
        <div class="offer-page__user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="offer-page__user-pic"
          />
          <table>
            <tbody>
              <tr>
                <td>Логин, Имя</td>
                <td>Aslero</td>
              </tr>
              <tr>
                <td>Дата</td>
                <td>2019-06-17 13:21:25</td>
              </tr>
              <tr>
                <td>Тема</td>
                <td>Дизайн-проект квартиры под ключ</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="offer-page__text">
          <span class="offer-page__text-status">Предлагаю:</span>
          <p>Дизайн-проект квартиры под ключ</p>
        </div>
        <div class="offer-page__meta">
          <span class="_metaDate">2019-06-17 13:21:25</span>
          <div class="offer-actions">
            <span class="meta-btn meta-like"><IconLike /> 1</span>
            <span class="meta-btn meta-dislike"><IconDislike /> 2</span>
            <span class="meta-btn meta-comment"><IconComment /> 5</span>
          </div>
        </div>
      </div>
      <div id="comment-wrapper" class="comment-wrapper">
        <div class="comment-box">
          <div class="comments-form">
            <form action="" method="post">
              <textarea
                id="replay"
                maxlength="1000"
                name="replay"
                cols="30"
                rows="5"
                placeholder="Ваш комментарий:"
              ></textarea>
              <button class="btn-link">Отправить</button>
            </form>
          </div>
          <div class="comments-wrapper">
            <div class="comment-item">
              <img
                src="~/assets/images/avatars/100.png"
                alt=""
                class="comment-item__user-pic"
              />
              <div class="comment-item__info">
                <p class="comment-item__author">
                  [Aslero]
                  <span class="comment-item__date">2019-06-27 12:38:50</span>
                </p>
                <p class="comment-item__text">с аыа ыва ыва ыа ыва ыв</p>
              </div>
            </div>
            <div class="comment-item">
              <img
                src="~/assets/images/avatars/100.png"
                alt=""
                class="comment-item__user-pic"
              />
              <div class="comment-item__info">
                <p class="comment-item__author">
                  [Aslero]
                  <span class="comment-item__date">2019-06-26 13:31:37</span>
                </p>
                <p class="comment-item__text">Попа полная</p>
              </div>
            </div>
            <div class="comment-item">
              <img
                src="~/assets/images/avatars/100.png"
                alt=""
                class="comment-item__user-pic"
              />
              <div class="comment-item__info">
                <p class="comment-item__author">
                  [Aslero]
                  <span class="comment-item__date">2019-06-25 08:39:31</span>
                </p>
                <p class="comment-item__text">
                  Ага, видел эту особенность, когда делал эксперимент. Я почитал
                  спецификацию этого тэга на w3c, он ведь служит только для
                  вывода расчетов скрипта и у ему при ресете формы тоже
                  выставляется дефолтное значение и похоже, что это выставление
                  убивает все тэги внутри него. Но как до конца это работает так
                  и не понял. Почему, например, дивы убиваются не сразу после
                  сабмита (если reset добавить), а только после второго сабмита
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import IconComment from '@/static/icons/svg/comment.svg?inline'
import IconLike from '@/static/icons/svg/like.svg?inline'
import IconDislike from '@/static/icons/svg/dislike.svg?inline'
export default {
  components: {
    IconComment,
    IconLike,
    IconDislike,
  },
}
</script>

<style lang="scss">
.offer-page__header {
  text-align: center;
  color: #323232;
  font-size: 16px;
  margin: 0;
}
.offer-page__user {
  display: flex;
  align-items: flex-start;
}
.offer-page__user-pic {
  border: 1px solid #d9d9d9;
  margin-right: 2 * $gap;
}
.offer-page__text {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  padding: 2 * $gap;
  margin: 2 * $gap 0 $gap;
}
.offer-page__text-status {
  font-weight: 600;
  margin-bottom: 5px;
}
.offer-page__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 30px;
}
.offer-actions {
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  .meta-btn {
    margin: 0 5px;
  }
}
.comments-form {
  margin-bottom: 50px;
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  textarea {
    padding: 5px;
    width: 100%;
    background-color: #f5f5f5;
    resize: none;
    border: 1px solid #c4cede;
  }
  .btn-link {
    margin-top: 20px;
  }
}

.comment-item {
  display: flex;
  align-items: flex-start;
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccd6e6;
}
.comment-item__info {
  padding-left: 2 * $gap;
  width: calc(100% - 50px);
}
.comment-item__author {
  margin: 0;
  color: $second-color;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.comment-item__date {
  color: #888888;
  font-size: 12px;
}
.comment-item__user-pic {
  width: 50px;
}
.comment-item__text {
  margin: 5px 0 0;
}
</style>
