<template>
  <div class="profile">
    <div class="header-block">ПРЕДЛОЖЕНИЯ ДЛЯ САЙТА</div>
    <div class="block-description">
      Здесь Вы можете ознакомиться с предложениями пользователей, по улучшению
      функционала проекта TriosCentR, а так же проголосовать, оставить свое
      предложение или комментарий. Все новые предложения проходят модерацию.
      Заведомо абсурдные (сделать клики по рублю и т.д.), повторяющиеся,
      противоречащие правилам системы WebMoney, предложения связанные с
      инвестициями, кредитованием, займами, пирамидами, азартными играми -
      размещены не будут!
    </div>
    <button
      type="button"
      class="btn btn-default btn-margin__auto"
      @click.prevent="showModal()"
    >
      Создать новое предложение
    </button>
    <div class="search-form">
      <input type="text" class="search-input" placeholder="Что ищем?" />
    </div>
    <div class="offer-list">
      <div class="offer-item">
        <img src="~/assets/images/avatars/100.png" alt="" class="user-avatar" />
        <div class="offer-data">
          <div class="offer-text">
            <NuxtLink :to="'/cabinet/offers/1'" class="_offerLink"
              >Дизайн-проект квартиры под ключ</NuxtLink
            >
            <a href="" class="user-name">Aslero</a>
          </div>
          <div class="offer-meta">
            <span class="_metaDate">2019-06-17 13:21:25</span>
            <div class="offer-actions">
              <span class="meta-btn meta-like"><IconLike /> 1</span>
              <span class="meta-btn meta-dislike"><IconDislike /> 2</span>
              <span class="meta-btn meta-comment"><IconComment /> 5</span>
            </div>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <img src="~/assets/images/avatars/100.png" alt="" class="user-avatar" />
        <div class="offer-data">
          <div class="offer-text">
            <a href="" class="_offerLink">Дизайн-проект квартиры под ключ</a>
            <a href="" class="user-name">Aslero</a>
          </div>
          <div class="offer-meta">
            <span class="_metaDate">2019-06-17 13:21:25</span>
            <div class="offer-actions">
              <span class="meta-btn meta-like"><IconLike /> 1</span>
              <span class="meta-btn meta-dislike"><IconDislike /> 2</span>
              <span class="meta-btn meta-comment"><IconComment /> 5</span>
            </div>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <img src="~/assets/images/avatars/100.png" alt="" class="user-avatar" />
        <div class="offer-data">
          <div class="offer-text">
            <a href="" class="_offerLink">Дизайн-проект квартиры под ключ</a>
            <a href="" class="user-name">Aslero</a>
          </div>
          <div class="offer-meta">
            <span class="_metaDate">2019-06-17 13:21:25</span>
            <div class="offer-actions">
              <span class="meta-btn meta-like"><IconLike /> 1</span>
              <span class="meta-btn meta-dislike"><IconDislike /> 2</span>
              <span class="meta-btn meta-comment"><IconComment /> 5</span>
            </div>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <img src="~/assets/images/avatars/100.png" alt="" class="user-avatar" />
        <div class="offer-data">
          <div class="offer-text">
            <a href="" class="_offerLink">Дизайн-проект квартиры под ключ</a>
            <a href="" class="user-name">Aslero</a>
          </div>
          <div class="offer-meta">
            <span class="_metaDate">2019-06-17 13:21:25</span>
            <div class="offer-actions">
              <span class="meta-btn meta-like"><IconLike /> 1</span>
              <span class="meta-btn meta-dislike"><IconDislike /> 2</span>
              <span class="meta-btn meta-comment"><IconComment /> 5</span>
            </div>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <img src="~/assets/images/avatars/100.png" alt="" class="user-avatar" />
        <div class="offer-data">
          <div class="offer-text">
            <a href="" class="_offerLink">Дизайн-проект квартиры под ключ</a>
            <a href="" class="user-name">Aslero</a>
          </div>
          <div class="offer-meta">
            <span class="_metaDate">2019-06-17 13:21:25</span>
            <div class="offer-actions">
              <span class="meta-btn meta-like"><IconLike /> 1</span>
              <span class="meta-btn meta-dislike"><IconDislike /> 2</span>
              <span class="meta-btn meta-comment"><IconComment /> 5</span>
            </div>
          </div>
        </div>
      </div>
      <div class="offer-item">
        <img src="~/assets/images/avatars/100.png" alt="" class="user-avatar" />
        <div class="offer-data">
          <div class="offer-text">
            <a href="" class="_offerLink">Дизайн-проект квартиры под ключ</a>
            <a href="" class="user-name">Aslero</a>
          </div>
          <div class="offer-meta">
            <span class="_metaDate">2019-06-17 13:21:25</span>
            <div class="offer-actions">
              <span class="meta-btn meta-like"><IconLike /> 1</span>
              <span class="meta-btn meta-dislike"><IconDislike /> 2</span>
              <span class="meta-btn meta-comment"><IconComment /> 5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconComment from '@/static/icons/svg/comment.svg?inline'
import IconLike from '@/static/icons/svg/like.svg?inline'
import IconDislike from '@/static/icons/svg/dislike.svg?inline'
export default {
  components: {
    IconComment,
    IconLike,
    IconDislike,
  },
  methods: {
    showModal() {
      this.$modal.show('offer-form')
    },
  },
}
</script>

<style lang="scss">
.offer-item {
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ccd6e6;
  &:last-of-type {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccd6e6;
  }
  .user-avatar {
    width: 60px;
  }
}
.offer-data {
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
}
.offer-text {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  .user-name {
    margin: 0;
    color: $second-color;
    font-size: 18px;
    font-weight: 500;
  }
}
._offerLink {
  margin-bottom: 10px;
  font-weight: 500;
  color: $font-color;
  &:hover {
    color: $current-color;
  }
}
.offer-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.offer-actions {
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  .meta-btn {
    margin: 0 5px;
  }
}
</style>
