<template>
  <footer>
    <div class="container">
      <div class="footer-box">
        <div class="footer-box__informer"></div>
        <nav class="footer-nav">
          <a href="">Админкоманда</a>
          <a href="">Техподдержка</a>
          <a href="">Черный список</a>
          <a href="">Контакты</a>
        </nav>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
}
</script>
