<template>
  <header>
    <div class="top-header">
      <div class="top-header__box">
        <nuxt-link to="/" :class="'logo'"></nuxt-link>
        <a class="top-header__banner">
          <client-only>
            <img src="https://aviso.bz/statica/pictures/A-468.gif" alt="" />
          </client-only>
        </a>
      </div>
    </div>
    <div class="nav-header">
      <nav class="nav-box">
        <nuxt-link to="/site/earn">заработок</nuxt-link>
        <nuxt-link to="/cabinet/adv">заказ рекламы</nuxt-link>
        <nuxt-link to="/feed">Новости</nuxt-link>
        <nuxt-link to="/cabinet/ref">Реф стена</nuxt-link>
        <nuxt-link to="/site/top">Топ 100</nuxt-link>
        <nuxt-link to="/site/rules">правила</nuxt-link>
        <nuxt-link to="/site/payments">Выплаты</nuxt-link>
        <nuxt-link to="/faq">помощь</nuxt-link>
        <nuxt-link to="/catalog">каталог</nuxt-link>
      </nav>
    </div>
  </header>
</template>
