<template>
  <div class="left-sidebar">
    <div class="user-info">
      <div class="user-header">
        <img src="~/assets/images/avatars/100.png" class="user-avatar" alt="" />
        <div class="user-bonus__info">
          <button class="btn-add__bonus"><BonusSvg /></button>
          <ul>
            <li><span>ID:</span><span>123</span></li>
            <li><span>Ник:</span><span>Extrememod</span></li>
            <li><span>Статус:</span><span>Стажер</span></li>
            <li><span>Опыт:</span><span>12</span></li>
          </ul>
        </div>
      </div>
      <div class="user-balance">
        <div class="user-balance__item">
          <div class="user-balance__info">
            <span>Рекламный счет:</span>
            <span>13473 руб.</span>
          </div>
          <a href="" class="user-balance__up btn-link">ПОПОЛНИТЬ</a>
        </div>
        <div class="user-balance__item">
          <div class="user-balance__info">
            <span>Рекламный счет:</span>
            <span>13473 руб.</span>
          </div>
          <a href="" class="user-balance__up btn-link">ПОПОЛНИТЬ</a>
        </div>
      </div>
      <ul class="user-nav">
        <li class="user-nav__parent">
          <span class="user-nav__title" @click.prevent="isActiveMenu = 0"
            >Заработать</span
          >
          <ul class="user-nav__sub" :class="{ active: isActiveMenu === 0 }">
            <li class="user-nav__sub-item">
              <a href="" class="user-nav__sub-link">Серфинг сайтов</a>
            </li>
            <li class="user-nav__sub-item">
              <a href="" class="user-nav__sub-link">Чтение писем</a>
            </li>
            <li class="user-nav__sub-item">
              <a href="" class="user-nav__sub-link">Выполнение заданий</a>
            </li>
            <!--              <li class="user-nav__sub-item">-->
            <!--                <a href="" class="user-nav__sub-link">Прохождение тестов</a>-->
            <!--              </li>-->
            <li class="user-nav__sub-item">
              <a href="" class="user-nav__sub-link">YouTube</a>
            </li>
            <li class="user-nav__sub-item">
              <a href="" class="user-nav__sub-link">ВКонтакте</a>
            </li>
            <li class="user-nav__sub-item">
              <a href="" class="user-nav__sub-link">Конкурсы от реферера</a>
            </li>
            <li class="user-nav__sub-item">
              <a href="" class="user-nav__sub-link">Бонусы от реферера</a>
            </li>
          </ul>
        </li>
        <li class="user-nav__parent">
          <span class="user-nav__title" @click.prevent="isActiveMenu = 1"
            >Рекламодателю</span
          >
          <ul class="user-nav__sub" :class="{ active: isActiveMenu === 1 }">
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/adv" class="user-nav__sub-link"
                >Разместить рекламу</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/adv/surfing" class="user-nav__sub-link"
                >Управление рекламой</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/adv/tasks" class="user-nav__sub-link"
                >Управление заданиями</NuxtLink
              >
            </li>
            <!--              <li class="user-nav__sub-item">-->
            <!--                <NuxtLink to="/cabinet/adv" class="user-nav__sub-link">Управление тестами</NuxtLink>-->
            <!--              </li>-->
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/adv/youtube" class="user-nav__sub-link"
                >Управление YouTube</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/adv/vk" class="user-nav__sub-link"
                >Управление Vk</NuxtLink
              >
            </li>
          </ul>
        </li>
        <li class="user-nav__parent">
          <span class="user-nav__title" @click.prevent="isActiveMenu = 2"
            >Реф-система</span
          >
          <ul class="user-nav__sub" :class="{ active: isActiveMenu === 2 }">
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/ref/links" class="user-nav__sub-link"
                >Пригласить рефералов</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/ref/me" class="user-nav__sub-link"
                >Мои рефералы</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/ref/stock" class="user-nav__sub-link"
                >Биржа рефералов</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/ref/competition" class="user-nav__sub-link"
                >Конкурсы для рефералов</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/ref/welcom" class="user-nav__sub-link"
                >Приветствие для рефералов</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/ref/mailgun" class="user-nav__sub-link"
                >Массовая рассылка</NuxtLink
              >
            </li>
          </ul>
        </li>
        <li class="user-nav__parent">
          <span class="user-nav__title" @click.prevent="isActiveMenu = 3"
            >Личный кабинет</span
          >
          <ul class="user-nav__sub" :class="{ active: isActiveMenu === 3 }">
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet" class="user-nav__sub-link"
                >Личные данные</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/carrier" class="user-nav__sub-link"
                >Карьера</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/wall" class="user-nav__sub-link"
                >Моя стена</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink to="/cabinet/friends" class="user-nav__sub-link"
                >Мои друзья</NuxtLink
              >
            </li>
            <li class="user-nav__sub-item">
              <NuxtLink :to="'/cabinet/offers'" class="user-nav__sub-link"
                >Предложения для сайта</NuxtLink
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="user-support">
        <nuxt-link to="/faqs" :class="'btn btn-default'">помощь</nuxt-link>
        <nuxt-link to="/supports" :class="'btn btn-default'"
          >техподдержка</nuxt-link
        >
      </div>
      <div class="user-stat">
        <div class="user-stat__info">
          <span>Пользователей онлайн</span>
          <p>6 619</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BonusSvg from '@/static/icons/svg/bonus.svg?inline'
export default {
  name: 'LeftSidebar',
  components: {
    BonusSvg,
  },
  data() {
    return {
      isActiveMenu: 0,
    }
  },
}
</script>

<style lang="scss">
.left-sidebar {
  width: 250px;
  background-color: #f5f5f5;
}

.user-header {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.user-avatar {
  width: 65px;
}

.user-bonus__info {
  padding-left: $gap;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: flex;
    align-items: center;
  }

  span {
    &:first-of-type {
      margin-right: 5px;
    }

    &:last-of-type {
      font-weight: 500;
    }
  }
}

.user-balance {
  display: flex;
  flex-direction: column;
}

.user-balance__item {
  border-bottom: 1px solid #c4cede;
  padding: 2 * $gap $gap;

  &:first-of-type {
    border-top: 1px solid #c4cede;
  }
}

.user-balance__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #323232;

  span {
    &:last-of-type {
      font-weight: 600;
    }
  }
}

.user-balance__up {
  margin: 15px auto 0;
  text-transform: uppercase;
  display: block;
  width: max-content;
}

.user-nav {
  list-style-type: none;
  padding: 0;
  margin: 2 * $gap 0;
}

.user-nav__title {
  background-color: $current-color;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 10px 2 * $gap;
  align-content: center;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.user-nav__sub {
  max-height: 0;
  visibility: hidden;
  padding: 0;
  list-style-type: none;
  margin: 0;
  transition: 0.5s;
  overflow: hidden;
  &.active {
    max-height: 100vh;
    visibility: visible;
  }
}

.user-nav__sub-link {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 2 * $gap;
  color: $font-color;
  border-bottom: 1px solid #ccd6e6;

  &:hover {
    text-decoration: underline;
  }
}

.user-nav__sub-item {
  &:last-of-type {
    .user-nav__sub-link {
      border-bottom: 0;
    }
  }
}

.user-support {
  .btn {
    width: 70%;
    margin: 10px auto;
  }
}

.user-stat {
  margin-top: 20px;
  background-color: #e65d2a;
  color: #fff;
  padding: 20px 30px;
  display: flex;
  align-content: center;
  align-items: center;
}

.user-stat {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
  }
}
</style>
