<template>
  <div class="right-sidebar">
    <div class="right-sidebar__block">
      <div class="header-block">Контекстная реклама</div>
      <div class="right-sidebar__block-links">
        <a href="" class="right-sidebar__block-link">
          <span class="right-sidebar__block-link-title link-red"
            >Работа без вложений</span
          >
          <span class="right-sidebar__block-link-desc"
            >Работа без вложений на триос центр</span
          >
        </a>
        <a href="" class="right-sidebar__block-link">
          <span class="right-sidebar__block-link-title"
            >Работа без вложений</span
          >
          <span class="right-sidebar__block-link-desc"
            >Работа без вложений на триос центр</span
          >
        </a>
        <div class="right-sidebar__block-link-add">
          <a href="" class="btn-link">разместить ссылку</a>
        </div>
      </div>
    </div>
    <div class="right-sidebar__block">
      <div class="header-block">Реклама (Баннер 100х100)</div>
      <div class="right-sidebar__block-banners">
        <a href="" class="right-sidebar__block-banner">
          <img src="~/assets/images/banners/100/100.gif" alt="" />
        </a>
        <div class="right-sidebar__block-banners-actions">
          <nuxt-link to="/banners/add" :class="'btn-link'"
            >Разместить</nuxt-link
          >
          <nuxt-link to="/banners" :class="'btn-link'">Смотреть все</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RightSidebar',
}
</script>

<style lang="scss">
.right-sidebar {
  position: relative;
  width: 270px;
  background-color: #fff;
}

.right-sidebar__block {
  margin-bottom: 2 * $gap;
}

.right-sidebar__block-links {
  display: flex;
  flex-direction: column;
}

.right-sidebar__block-link {
  border-bottom: 1px solid #c4cede;
  padding: 10px $gap;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
}

.right-sidebar__block-link-title {
  margin: 0;
  color: #3681f2;
  font-weight: 500;
}

.right-sidebar__block-link-add {
  padding: 2 * $gap 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.right-sidebar__block-banners {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.right-sidebar__block-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2 * $gap 0;
}

.right-sidebar__block-banners-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2 * $gap $gap;
}
</style>
