<template>
  <div class="_contentText">
    <div class="header-block">Заработок TRIOSCENTR</div>
    <p>1. Cёрфинг сайтов.</p>
    <p>
      Серфинг – это просмотр различных сайтов в сети. Предлагаем заработать на
      этом. Чтобы получить деньги за просмотр, нужно:
    </p>
    1. Перейти по одной из ссылок на этой странице. 2. Подождать окончания
    отсчета таймера. 3. Ввести капчу (так вы подтвердите, что не являетесь
    роботом). Нельзя одновременно открывать сразу несколько страниц для
    серфинга! Обратите внимание: оплачиваемыми являются только динамические
    ссылки!

    <p>2. Письма.</p>
    Зарабатывать на чтении писем очень легко. От вас требуется: 1. Открыть
    письмо. 2. Прочитать его. 3. Ответить на контрольный вопрос (ответ на него
    вы найдете в письме). После выбора правильного варианта ответа вы будете
    перенаправлены на новую страницу. Ждите, пока на таймере закончится отсчет
    времени. После этого нужно ввести капчу, и деньги перечислятся на счет.

    <p>3. Задания.</p>
    Выполнение заданий – самый высокооплачиваемый способ заработка в интернете.
    Это может быть написание отзывов и комментариев, клики по рекламе,
    регистрации с активностью и без и т.д. Чтобы заработать, вам нужно: 1.
    Выполнить задание в соответствии с требованием рекламодателя. 2.
    Предоставить в отчете подтверждение (создатель задания обычно указывает, что
    нужно: скриншот или др.). Рекламодатель может отправлять задание на
    доработку или отказывать в оплате, если есть на то весомые причины, поэтому
    выполняйте работу качественно!

    <p>4. Тесты.</p>
    Заработок на тестах прост. Вам нужно перейти на сайт и выполнить действия,
    указанные рекламодателем. Это может быть, например, серфинг одной/нескольких
    страниц либо просмотр видео. После этого вам нужно представить
    доказательства проделанной работы: пройти несложный тест. Если выберите
    только правильные варианты ответов, на ваш счет будут перечислены средства
    за работу.

    <p>5. VK (Вконтакте).</p>
    У многих есть социальные сети, одна из наиболее популярных – ВКонтакте –
    позволяет быстро и легко заработать деньги. Вам предлагается оплата за: •
    лайки; • вступление в группу; • репост. Чтобы завоевать доверие
    рекламодателей и зарабатывать хорошо, соблюдайте условия выполнения задания.
    Не отменяйте подписки и не забирайте лайки, высокое качество работы
    отражается на вашей репутации на сайте и на количестве работы, предлагаемой
    Вам в дальнейшем!

    <p>6. YouTube.</p>
    Если у вас есть канал на Youtube, вы сможете больше зарабатывать на
    серфинге, только просматривать нужно видео, а не обычные сайты. Кликните по
    одному из заданий и затем нажмите «Приступить к выполнению». После этого
    ждите окончания отсчета таймера и введите капчу – деньги будут перечислены
    на счет. Также можно получать деньги за подписки и лайки – чтобы хорошо
    зарабатывать, качественно выполняйте задания, не отписываясь от канала после
    оплаты работы!

    <p>7. Привлечение рефералов.</p>
    Привлечение рефералов – один из способов пассивного заработка. Пригласите
    знакомых на наш проект, чтобы получать прибыль от каждой проделанной ими
    работы. Неважно, рекламодатель или исполнитель ваш реферал. От всех
    платежных операций: зачисления средств за выполнение заданий/прохождение
    тестов/выигрыши в конкурсах и др. – вы будете получать до 60% (зависит от
    вашего рейтинга).
  </div>
</template>
