<template>
  <div class="payments">
    <div class="header-block">Выплаты</div>
    <p class="payment-stat">
      Всего выплачено за 24 часа: 55174.56 руб. (Выплат: 3490)
    </p>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Счет пользователя</th>
            <th>Сумма(руб.)</th>
            <th>Дата и время выплаты</th>
            <th>Платежная система</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="payment-invoice">R4753776XXXX</span></td>
            <td><span class="payment-price">2.51</span></td>
            <td><span class="payment-date">14.03.2019 12:32:36</span></td>
            <td>
              <p class="payment-system">
                <img src="img/icon-webmoney.png" alt="" /> <span>WebMoney</span>
              </p>
            </td>
          </tr>
          <tr>
            <td><span class="payment-invoice">R4753776XXXX</span></td>
            <td><span class="payment-price">2.51</span></td>
            <td><span class="payment-date">14.03.2019 12:32:36</span></td>
            <td>
              <p class="payment-system">
                <img src="img/icon-yandex.png" alt="" />
                <span>Яндекс.деньги</span>
              </p>
            </td>
          </tr>
          <tr>
            <td><span class="payment-invoice">R4753776XXXX</span></td>
            <td><span class="payment-price">2.51</span></td>
            <td><span class="payment-date">14.03.2019 12:32:36</span></td>
            <td>
              <p class="payment-system">
                <img src="img/icon-pm.png" alt="" /> <span>PerfectMoney</span>
              </p>
            </td>
          </tr>
          <tr>
            <td><span class="payment-invoice">R4753776XXXX</span></td>
            <td><span class="payment-price">2.51</span></td>
            <td><span class="payment-date">14.03.2019 12:32:36</span></td>
            <td>
              <p class="payment-system">
                <img src="img/icon-py.png" alt="" /> <span>PAYEER</span>
              </p>
            </td>
          </tr>
          <tr>
            <td><span class="payment-invoice">R4753776XXXX</span></td>
            <td><span class="payment-price">2.51</span></td>
            <td><span class="payment-date">14.03.2019 12:32:36</span></td>
            <td>
              <p class="payment-system">
                <img src="img/icon-phone.png" alt="" />
                <span>Mobile Phone</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
