<template>
  <div class="content-text">
    <div class="header-block">ПРАВИЛА УЧАСТИЯ В СИСТЕМЕ TRIOSCENTR</div>
    <nav class="list-box">
      <a href="" class="list-box__item">ОБЩИЕ ПРАВИЛА СИСТЕМЫ TRIOSCENTR</a>
      <a href="" class="list-box__item"
        >ПРАВИЛА РАЗМЕЩЕНИЯ И ВЫПОЛНЕНИЯ ЗАДАНИЙ</a
      >
    </nav>
    <span class="date">Редакция от 09.05.2019</span>
    <p class="content-text__title">Общие положения</p>
    <ol>
      <li>
        Регистрация в системе ProfiTCentR является бесплатной и добровольной,
        принять участие может любой желающий.
      </li>
      <li>
        Зарегистрировавшись в системе ProfiTCentR, вы соглашаетесь с данными
        правилами в полном объеме.
      </li>
      <li>
        Администрация системы не несет ответственности за возможный ущерб,
        нанесенный вам в результате использования данного сервиса.
      </li>
      <li>
        После регистрации, в течении 24 часов, Вы должны активировать аккаунт
        (т.е. подтвердить регистрационный E-mail). Неактивированные аккаунты
        удаляются через 24 часа!
      </li>
      <li>
        Все участники должны быть активными. Пользователи которые
        зарегистрировались и ни разу не вошли в свой аккаунт, удаляются через 30
        суток после регистрации.
      </li>
      <li>
        Пользователи не посещавшие аккаунт 90 дней(если не активирована функция
        "Уйти в отпуск"), а так же, те чьи аккаунты были заблокированы за
        нарушение правил, удаляются с обнулением всех средств на счету. Все
        имеющиеся рефералы переходят к рефереру на уровень выше. Если на уровень
        выше реферера нет, в этом случае рефералы становятся свободными.
      </li>
      <li>
        Регистрируясь в системе, вы соглашаетесь с тем, что Ваш реферер (если
        имеется), может продать ваш аккаунт на ярмарке другому участнику системы
        без вашего согласия и предварительного уведомления. Сменить реферера
        самостоятельно Вы не сможете.
      </li>
      <li>
        Любой обман системы, попытки взлома, использование недостоверных данных
        при регистрации влечет за собой удаление аккаунта. О любых обнаруженных
        "багах" и уязвимостях и неисправностях вы обязаны сообщить
        администрации. Попытки воспользоваться ими влекут за собой удаление
        аккаунта.
      </li>
      <li>
        Пользователи системы обязаны не менее чем 1 раз в 7 дней ознакомиться с
        новостями сайта.
      </li>
      <li>
        Пользователи обязаны использовать только самые свежие версии браузеров
        Google Chrome, Opera, Mozilla Firefox, Edge.
      </li>
      <li>
        Запрещено использовать для регистрации логины и имена похожие на логин
        администратора: admin1, admin33, adminn, administrations и т.п., а так
        же запрещены логины и имена moder, moderator и т.п., которые могут
        ввести в заблуждение других участников системы.
      </li>
      <li>апрещено продавать или покупать аккаунты сайта Profitcentr.com.</li>
      <li>
        Категорически запрещены регистрации с однодневных (одноразовых) почт.
      </li>
      <li>
        Поскольку невозможно описать правилами все специфические области работы
        в проекте, любые рекомендации или требования Администрации проекта
        следует воспринимать как дополнение к существующим правилам.
      </li>
    </ol>
    <p class="content-text__title">Пользователям запрещается</p>
    <ol class="content-text__error-block">
      <li>
        Категорически запрещается:
        <p>Создание более одного аккаунта одному участнику.</p>
        <p>Создание более одного аккаунта на одном компьютере.</p>
        <p>Регистрировать со своего компьютера аккаунты другим людям.</p>
        <p>
          Регистрироваться и заходить в свой аккаунт с чужих компьютеров, на
          которых уже есть зарегистрированные аккаунты других участников.
        </p>
        <p>
          Заходить в чужие аккаунты, в том числе и в аккаунты ваших друзей,
          родственников.
        </p>
        <p>
          Регистрировать и заходить в аккаунты с общественных компьютеров, из
          интернет клубов и т.д.
        </p>
      </li>
    </ol>
    <ol start="2" class="no-action">
      <li>
        Любые оскорбления в адрес участников проекта или администрации, а так же
        шантаж, вымогание денег или рефбэка, попрошайничество, просьбы одолжить
        денег. В случае поступления жалоб от пострадавших, аккаунт нарушителя
        будет забанен и удалён.
      </li>
      <li>
        При просмотре сайтов в серфинге препятствовать полноценной загрузке
        элементов сайтов рекламодателей или нарушать нормальный ход серфинга,
        использование любых сторонних программ для автоматического и
        полуавтоматического просмотра (авто-кликеров, авто-браузеров,
        ускорителей таймера) запрещено.
      </li>
      <li>
        Использовать СПАМ для привлечения рефералов, а так же привлекать
        рефералов обманным путем.
      </li>
      <li>
        Использовать функции браузера для автоматического обновления страниц
        сайта.
      </li>
      <li>
        При выполнении оплачиваемых заданий, отсылать задание на проверку, не
        выполнив всех пунктов из описания задания.
      </li>
      <li>
        Распространение готовых ответов на тесты и задания, а так же
        использование в работе готовых ответов на тесты и задания.
      </li>
      <li>
        Не рекомендуется просматривать сайты рекламодателей в серфинге,
        рекламные письма, выполнять задания и тесты с мобильных телефонов,
        смартфонов.
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'Index',
}
</script>
