<template>
  <div class="top-users">
    <div class="header-block">ТОП 100 ПОЛЬЗОВАТЕЛЕЙ</div>
    <div class="block-description">
      Данная страница отображает участников системы TriosCentR и наглядно
      показывает каких результатов можно добиться по привлечению рефералов, по
      кликам в серфинге, по выполнению заданий, по рейтингу, если не мечтать, а
      приложить определенные усилия.
    </div>
    <div class="sort-container">
      <div class="sort-item">
        <label for="">Сортировать по:</label>
        <select id="" name="">
          <option value="">Рейтингу</option>
        </select>
      </div>
    </div>
    <p class="top-your__status">
      Вы находитесь на <span>68966 месте</span> в TOP <span>по рейтингу</span>
    </p>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Логин, ID</th>
          <th class="orange-text">Рейтинг</th>
          <th>Рефералы</th>
          <th>Серфинг</th>
          <th>Задания</th>
          <th>YouTube</th>
          <th>Статистика</th>
          <th>Рег-ция/Заходил</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in 12" :key="index">
          <td>1</td>
          <td>
            <div class="table-user__info">
              <img
                src="~/assets/images/avatars/com-user.png"
                alt=""
                class="table-pic"
              />
              <div class="info">
                <div class="table-username">
                  <span class="table-login">exp2</span>
                  <span class="table-id">ID: 20821</span>
                </div>
              </div>
            </div>
          </td>
          <td class="orange-text">132864</td>
          <td>1180</td>
          <td>54212</td>
          <td>98</td>
          <td>8</td>
          <td>
            <button class="btn-chart">
              <IconChart />
            </button>
          </td>
          <td>
            <p class="table-date">03.05.2011</p>
            <p class="table-last__online">Сегодня</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import IconChart from '@/static/icons/svg/chart.svg?inline'
export default {
  components: {
    IconChart,
  },
}
</script>

<style lang="scss">
.top-your__status {
  color: $current-color;
  font-size: 16px;
  font-weight: 500;
  margin: 2 * $gap 0;
  span {
    color: $second-color;
  }
}
</style>
