<template>
  <div class="task">
    <div class="header-block">РАЗМЕЩЕНИЕ РЕКЛАМЫ</div>
    <p class="content-text__title">ДИНАМИЧЕСКИЕ ССЫЛКИ</p>
    <div class="block-description">
      Это ссылки с определенным количеством переходов по ним. Вы гарантировано
      получите заказанное количество посетителей на свой сайт. Все посетители по
      вашей ссылке будут уникальными в течении 24 часов. Ссылка размещается на
      странице "Серфинг сайтов".
    </div>
    <div class="header-block">РАЗМЕЩЕНИЕ ДИНАМИЧЕСКОЙ ССЫЛКИ</div>
    <form class="form-task">
      <div class="form-task__container">
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Безлимитная реклама</label>
          </div>
          <div class="form-task__item">
            <select id="typebanner" name="typebanner">
              <option value="1">Нет</option>
            </select>
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Название ссылки</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Описание ссылки</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">URL сайта (с http://)</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Время просмотра</label>
          </div>
          <div class="form-task__item">
            <select id="" name="">
              <option value="">20</option>
            </select>
          </div>
        </div>
        <div class="form-task__group">
          <div class="form-task__item">
            <label for="">Переход на сайт</label>
          </div>
          <div class="form-task__item">
            <input type="text" />
          </div>
        </div>
        <div class="task-more">
          <div class="task-more__header">
            <div class="drop-more__header-title" @click="showTaskMore">
              дополнительные настройки
            </div>
          </div>
          <div class="task-more__body" :class="{ active: taskMoreActive }">
            <div class="form-task__container">
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">Уникальный IP адрес</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">Аудитория смотрящих</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">По наличию реферера</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">По рейтингу пользователя</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">По половому признаку</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">По дате регистрации</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">Возраст от</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">Возраст до</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">Разместить в VIP блоке</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
              <div class="form-task__group">
                <div class="form-task__item">
                  <label for="">Выделить цветом</label>
                </div>
                <div class="form-task__item">
                  <input type="text" />
                </div>
              </div>
            </div>
            <div class="task-countries">
              <div class="task-country__item">
                <ul>
                  <li>
                    <div class="task-country__item-name">
                      <div class="checkbox">
                        <input
                          id="country_1"
                          type="checkbox"
                          name="country[]"
                          checked="checked"
                          value="RU"
                        />
                        <label for="country_1">
                          <img
                            src="http://litesite.extremje.beget.tech/storage/images/uploads/icons/ru.png"
                            alt=""
                          />
                          Россия
                        </label>
                      </div>
                    </div>
                    <ul>
                      <li>
                        <div class="checkbox">
                          <input
                            id="city_1"
                            type="checkbox"
                            name="city[]"
                            value="1"
                          />
                          <label for="city_1">Москва</label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="task-country__item">
                <ul>
                  <li>
                    <div class="task-country__item-name">
                      <div class="checkbox">
                        <input
                          id="country_1"
                          type="checkbox"
                          name="country[]"
                          checked="checked"
                          value="RU"
                        />
                        <label for="country_1">
                          <img
                            src="http://litesite.extremje.beget.tech/storage/images/uploads/icons/ru.png"
                            alt=""
                          />
                          Россия
                        </label>
                      </div>
                    </div>
                    <ul>
                      <li>
                        <div class="checkbox">
                          <input
                            id="city_1"
                            type="checkbox"
                            name="city[]"
                            value="1"
                          />
                          <label for="city_1">Москва</label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="task-country__item">
                <ul>
                  <li>
                    <div class="task-country__item-name">
                      <div class="checkbox">
                        <input
                          id="country_1"
                          type="checkbox"
                          name="country[]"
                          checked="checked"
                          value="RU"
                        />
                        <label for="country_1">
                          <img
                            src="http://litesite.extremje.beget.tech/storage/images/uploads/icons/ru.png"
                            alt=""
                          />
                          Россия
                        </label>
                      </div>
                    </div>
                    <ul>
                      <li>
                        <div class="checkbox">
                          <input
                            id="city_1"
                            type="checkbox"
                            name="city[]"
                            value="1"
                          />
                          <label for="city_1">Москва</label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="task-country__item">
                <ul>
                  <li>
                    <div class="task-country__item-name">
                      <div class="checkbox">
                        <input
                          id="country_1"
                          type="checkbox"
                          name="country[]"
                          checked="checked"
                          value="RU"
                        />
                        <label for="country_1">
                          <img
                            src="http://litesite.extremje.beget.tech/storage/images/uploads/icons/ru.png"
                            alt=""
                          />
                          Россия
                        </label>
                      </div>
                    </div>
                    <ul>
                      <li>
                        <div class="checkbox">
                          <input
                            id="city_1"
                            type="checkbox"
                            name="city[]"
                            value="1"
                          />
                          <label for="city_1">Москва</label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="form-task__cost-box">
          <div class="form-task__item">
            <label for="">Стоимость 1 просмотра</label>
          </div>
          <div class="form-task__item">
            <span class="form-taskCost">Всего 45 руб.</span>
          </div>
        </div>
        <div class="form-task__full">
          <div class="checkbox">
            <input id="politic" type="checkbox" name="politic" value="1" />
            <label for="politic"
              >С <a href="">Правилами</a> размещения рекламы полностью
              согласен(на)</label
            >
          </div>
        </div>
      </div>
      <button class="btn btn-default btn-margin__auto">
        Сохранить площадку
      </button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      taskMoreActive: false,
    }
  },
  methods: {
    showTaskMore() {
      this.taskMoreActive = this.taskMoreActive === false
    },
  },
}
</script>
