<template>
  <div class="task">
    <div class="header-block">МОИ ССЫЛКИ В СЕРФИНГЕ</div>
    <div class="task-user">
      <div class="task-ui__item">
        <div class="task-u__card">
          <div class="task-u__header">
            <div class="task-u__status">
              <i class="fas fa-play"></i>
            </div>
            <div class="task-ui__info">
              <a href="" target="_blank" class="task-u__link">Лучшее казино!</a>
              <p class="task-u__desc">100% бонус на депозит!</p>
              <ul class="taskUMeta">
                <li class="task-umi">№ 6</li>
                <li class="task-umi">0.08 руб.</li>
              </ul>
            </div>
          </div>
          <div class="task-u__footer">
            <div class="btn-row__group">
              <button
                class="btn btn-small btn-actions border-radius__circle btn-info"
              >
                <i class="far fa-question-circle"></i>
              </button>
              <button
                class="btn btn-small btn-actions border-radius__circle btn-default"
              >
                <i class="far fa-chart-bar"></i>
              </button>
              <button
                class="btn btn-small btn-actions border-radius__circle btn-primary"
              >
                <i class="fas fa-wallet"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="task-ui__item">
        <div class="task-u__card">
          <div class="task-u__header">
            <div class="task-u__status">
              <i class="fas fa-play"></i>
            </div>
            <div class="task-ui__info">
              <a href="" target="_blank" class="task-u__link"
                >Присоединяйтесь! Работать с реферером намного выгоднее!</a
              >
              <p class="task-u__desc">
                Рефбек 90%! Рефералов не продаю! Бонусы, Конкурсы!
              </p>
              <ul class="taskUMeta">
                <li class="task-umi">№ 6</li>
                <li class="task-umi">0.08 руб.</li>
              </ul>
            </div>
          </div>
          <div class="task-u__footer">
            <div class="btn-row__group">
              <button
                class="btn btn-small btn-actions border-radius__circle btn-info"
              >
                <i class="far fa-question-circle"></i>
              </button>
              <button
                class="btn btn-small btn-actions border-radius__circle btn-default"
              >
                <i class="far fa-chart-bar"></i>
              </button>
              <button
                class="btn btn-small btn-actions border-radius__circle btn-primary"
              >
                <i class="fas fa-wallet"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nuxt-link to="" class="btn btn-default btn-margin__auto"
      >Разместить ссылку в серфинге</nuxt-link
    >
  </div>
</template>

<style lang="scss">
.task-ui__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}

.task-meta__moderation {
  color: $second-color;
}
.task-u__card {
  padding: 10px 0;
  border-bottom: 1px solid #c4cede;
}
.task-u__header {
  display: flex;
  align-items: center;
}
.task-u__status {
  width: 50px;
  padding-right: 15px;
  i {
    font-size: 30px;
  }
}
.task-u__title {
  color: $current-color;
}
.task-u__link {
  color: $current-color;
  &:hover {
    text-decoration: underline;
  }
}
.task-u__desc {
  color: #888888;
  font-size: 14px;
  margin: 5px 0;
}
.task-u__meta {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.task-umi {
  font-size: 13px;
  margin-right: 10px;
}
.task-u__footer {
  display: flex;
  justify-content: flex-end;
}
.task-ujcsb {
  justify-content: space-between;
}
.task-btn__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
  margin: 0 -7.5px;
  .btn {
    margin: 7.5px;
  }
}
.task-umsi {
  display: flex;
  align-items: center;
  span {
    margin-left: 5px;
  }
}
</style>
