.link-red{
  color: #ff5d21;
}

.btn{
  height: 36px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'DIN Pro';
  font-size: 14px;
  border-radius: 26px;
  width: max-content;
  position: relative;
  cursor: pointer;
}
.btn-cart{
  font-family: 'DIN Pro';
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $second-color;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  svg{
    width: 30px;
    height: 30px;
    fill: $second-color;
    stroke: $second-color;
    margin-left: 5px;
  }
}
.btn-chart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  svg{
    width: 100%;
    height: 100%;
    fill: $current-color;
    stroke: $current-color;
  }
}
.btn-small{
  height: 34px;
}
.btn-action{
  width: 34px;
  padding: 0;
}

.btn-default{
  border: 1px solid $current-color;
  background-color: transparent;
  color: $current-color;
  &:hover{
    background-color: $current-color;
    color: #fff;
  }
}
.btn-primary{
  border: 1px solid $second-color;
  background-color: transparent;
  color: $second-color;
  &:hover{
    background-color: $second-color;
    color: #fff;
  }
}
.btn-info{
  border: 1px solid #bee5eb;
  background-color: transparent;
  color: $font-color;
  &:hover{
    background-color: #bee5eb;
  }
}
.btn-danger{
  border: 1px solid #f8d7da;
  background-color: transparent;
  color: #721c24;
  &:hover{
    background-color: #f8d7da;
  }
}
.btn-dark{
  border: 1px solid #d6d8d9;
  background-color: transparent;
  color: #1b1e21;
  &:hover,&.active{
    background-color: #d6d8d9;
  }
}
.btn-link{
  background-color: transparent;
  border: none;
  color: $current-color;
  text-decoration: underline;
}
.btn-add__bonus{
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: $second-color;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    width: 30px;
    height: 30px;
    stroke-width: 1;
    stroke: #fff;
    fill: #fff;
  }
}
.btn-margin__auto{
  margin: 2*$gap auto;
}
.badge-row__group{
  display: flex;
  align-items: center;
  .btn{
    margin-left: 15px;
    &:first-of-type{
      margin-left: 0;
    }
  }
}

.badge-row{
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
  margin: 10px 0;
  .badge{
    margin-right: 7px;
  }
}
.badge{
  height: 20px;
  min-width: 20px;
  width: max-content;
  font-size: 14px;
  line-height: 14px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-success{
  background-color: rgba(79, 192, 141, 0.3);
  color: #17bf63;
}
.badge-light{
  background-color: #e2e3e5;
  color: #383d41;
}
.badge-dark{
  background-color: #d6d8d9;
  color: #1b1e21;
}
.badge-primary{
  background-color: $second-color;
  color: #fff;
}
.badge-default{
  background-color: $current-color;
  color: #fff;
}

.tab-spa__header{
  display: flex;
  background-color: #fafbfc;
  border-bottom: 1px solid #e7e8ec;
  padding: 0 10px;
}
.tab-spa__btn{
  background-color: transparent;
  border: none;
  height: 54px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 0 6px;
  border-bottom: 2px solid transparent;
  color: #656565;
  cursor: pointer;
  &:hover{
    border-color: $current-color;
  }
}

.meta-btn{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #323232;
  cursor: pointer;
  svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
.meta-date{
  color: #888888;
}

.meta-like{
  svg{
    fill: $second-color;
    stroke: $second-color;
  }
}
.meta-disLike{
  svg{
    fill: $current-color;
    stroke: $current-color;
  }
}
.meta-comment{
  svg{
    fill: #323232;
    stroke: #323232;
  }
}


.user-link{
  color: $current-color;
  font-size: 16px;
  font-weight: 500;
}