input, select{
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  height: 40px;
  padding: 0 15px;
  max-width: 100%;
  min-width: 200px;
}
textarea{
  background-color: #f5f5f5;
  resize: none;
  padding: 15px;
  border: 1px solid #e9e9e9;
  font-family: 'DIN Pro', sans-serif;
  font-size: 16px;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-label{
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.form-control{
  width: 100%;
}
.btn-group__jcsb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox {
  position: relative;
  a{
    color: $current-color;
  }
}

.checkbox input {
  position: absolute;
  left: -100px;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
}
.checkbox label {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 30px;
  min-height: 22px;
  cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.checkbox label::before {
  height: 20px;
  width: 20px;
  border: 1px solid #ababab;
  left: 0px;
  top: 0px;
}
.checkbox label::after {
  height: 7px;
  width: 10px;
  border-left: 2px solid $current-color;
  border-bottom: 2px solid $current-color;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 5px;
  top: 5px;
  text-align: left;
}
.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.search-form{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input{
  width: 80%;
}
.form-task__container{
  display: flex;
  flex-wrap: wrap;
}
.form-task__border-top{
  border-top: 1px solid #ccd6e6;
}
.dop-more__header-title{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  &:before{
    content: '';
    position: absolute;
    right: 15px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transition: .5s;
    transform: rotate(45deg);
  }
  &.active{
    &:before{
      transform: rotate(-135deg);
    }
  }
}
.form-task__group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border-bottom: 1px solid #ccd6e6;
  label{
    font-size: 14px;
  }
}
.form-task__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  select,input{
    width: 100%;
  }
}
.form-task__full{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccd6e6;
}
.form-task__cost{
  display: flex;
  align-items: center;
  color: $second-color;
  font-weight: 600;
  height: 45px;
}
.form-task__cost-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ccd6e6;
  padding: 5px 0;
  label{
    font-size: 14px;
  }
}
.form-task_tooltip-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  color: $second-color;
  font-weight: 600;
  text-align: center;
}
.form-task_tooltip-data{
  display: none;
}
.task-more{
  width: 100%;
}
.task-more__header{
  background-color: #f5f5f5;
  color: $current-color;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}
.task-more__body{
  display: none;
  &.active{
    display: block;
  }
}
.task-countries{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.task-country__item{
  width: 25%;
  padding: 5px;
  border-bottom: 1px solid #ccd6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul{
    list-style-type: none;
    padding: 0;
    li{
      color: #454545;
      font-weight: 500;
    }
    ul{
      margin-top: 10px;
      padding-left: 20px;
      li{
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
  }
}
.task-country__item-name{
  display: flex;
  align-items: center;
}
.pay-system__box{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}
.pay-system__item{
  width: calc(100% / 3);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
.pay-system__card{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #cacaca;
  &:hover{
    border-color: $second-color;
  }
  img{
    display: block;
    margin: 5px 0;
  }
  span{
    width: 100%;
    text-align: center;
    background-color: $current-color;
    color: #fff;
    padding: 3px 5px;
  }
}
.sort-container{
  display: flex;
  align-items: center;
}
.sort-item{
  display: flex;
  align-items: center;
  label{
    color: #454545;
    margin-right: 30px;
  }
}
.auth-form{
  width: 390px;
  margin: 50px auto;
  border: 1px solid $current-color;
  padding: 30px;
  display: flex;
  flex-direction: column;
  .btn-group__jcsb{
    margin-top: 15px;
  }
  .btn-link{
    text-decoration: none;
  }
}
.full-form{
  width: 100%;
}
.auth-form__ref{
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.auth-form__ref-item{
  padding: 0 7.5px;
  width: 20%;
}
.auth-form__ref-item-card{
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  &:hover,&._active{
    &:after{
      display: block;
    }
    .auth-form__ref-item-info{
      opacity: 1;
    }
  }
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0009;
    display: none;
  }
}
.auth-form__ref-avatar{
  width: 100%;
}
.auth-form__ref-username{
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
}
.auth-form__ref-item-info{
  font-size: 13px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  z-index: 3;
  opacity: 0;
}
