.payment-stat{
  color: $current-color;
  margin: 2*$gap $gap;
  font-size: 18px;
  font-weight: 500;
}
.payment-invoice{
  color: $current-color;
  font-weight: 500;
}
.payment-price{
  color: $second-color;
  font-weight: 500;
}
.payment-system{
  display: flex;
  align-items: center;
  margin: 0;
}
