table {
  width: 100%;
  border-collapse: collapse;
}

table {
  background-color: transparent;
}

table {
  &.compare{
    margin-bottom: 30px;
  }
  thead {
    tr{
      th{
        padding: 10px;
        background-color: #f5f5f5;
        font-size: 12px;
        color: #454545;
        font-weight: 400;
        text-align: center;
      }
      &:first-of-type {
        th {
          background-color: #3681f2;
          font-size: 12px;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }

  tbody{
    tr {
      td{
        font-size: 12px;
        color: #3b3b3b;
        line-height: 20px;
        border-bottom: 1px solid #ccd6e6;
        padding: 10px;
        text-align: center;
        &:first-of-type {
          text-align: left;
        }
      }
    }
  }
}

.table-pic{
  height: 40px;
  width: 40px;
  border: 1px solid #b8b8b8;
}

.table-user__info{
  display: flex;
  align-items: center;
}

.table-date{
  margin: 0 0 3px;
  font-size: 12px;
}
.table-last__online{
  margin: 0;
}

.table-username{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
  width: max-content;
}
.table-compare__list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.table-compare__list{
  display: block;
  margin-bottom: 3px;
  font-size: 13px;
  text-align: left;
  a{
    color: $current-color;
    font-weight: 600;
  }
}