<template>
  <div class="profile">
    <div class="header-block">МОИ ДРУЗЬЯ</div>
    <div class="tabs-spa">
      <div class="tab-spa__header">
        <button class="tab-spa__btn">Все друзья</button>
        <button class="tab-spa__btn">Друзья онлайн</button>
        <button class="tab-spa__btn">Заявки в друзья</button>
        <button class="tab-spa__btn">Именинники</button>
      </div>
    </div>
    <div class="search-form">
      <input
        type="text"
        class="search-input"
        placeholder="Введите логин друга"
      />
    </div>
    <div class="friend-list">
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
      <div class="friend-item">
        <div class="friend-user">
          <img
            src="~/assets/images/avatars/100.png"
            alt=""
            class="_friendAvatar"
          />
          <div class="friend-user__info">
            <a href="" class="friend-username">Aslero</a>
            <span class="friend-user__id">ID:12</span>
          </div>
        </div>
        <div class="friend-stat">
          <span class="friend-stat__icon"><IconChart /></span>
        </div>
        <div class="friend-online">2019-06-17 17:28:34</div>
        <div class="friend-btn-actions">
          <button class="btn-link">Написать сообщение</button>
          <button class="btn btn-default">Убрать из друзей</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconChart from '@/static/icons/svg/chart.svg?inline'
export default {
  components: {
    IconChart,
  },
}
</script>
<style lang="scss">
.friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6e6;
  color: #323232;
  padding: 10px 0;
}
.friend-user {
  width: 30%;
  display: flex;
  align-items: center;
}
._friendAvatar {
  width: 60px;
  height: 60px;
  border: 1px solid #b8b8b8;
  margin-right: 15px;
}
.friend-user__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.friend-username {
  color: $current-color;
}
.friend-stat {
  width: 20%;
  svg {
    width: 30px;
    height: 30px;
    fill: $current-color;
    stroke: $current-color;
  }
}
.friend-online {
  width: 20%;
}
.friend-btn-actions {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btn-link {
    margin-bottom: 10px;
  }
  .btn {
    padding: 0 10px;
    height: 36px;
    font-size: 14px;
  }
}
</style>
