<template>
  <div id="app">
    <div class="container">
      <Header />
      <main>
        <LeftSidebar />
        <div class="content-wrapper">
          <Nuxt />
        </div>
        <RightSidebar />
      </main>
      <Footer />
    </div>
    <OfferModal />
  </div>
</template>

<script></script>

<style lang="scss">
@charset "UTF-8";
@font-face {
  font-family: 'DIN Pro';
  src: url('~static/fonts/DINPro-Light.eot');
  src: local('~static/fonts/DIN Pro Light'), local('DINPro-Light'),
    url('~static/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/DINPro-Light.woff') format('woff'),
    url('~static/fonts/DINPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('~static/fonts/DINPro.eot');
  src: local('~static/fonts/DIN Pro'), local('DINPro'),
    url('~static/fonts/DINPro.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/DINPro.woff') format('woff'),
    url('~static/fonts/DINPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('~static/fonts/DINPro-Medium.eot');
  src: local('~static/fonts/DIN Pro Medium'), local('DINPro-Medium'),
    url('~static/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/DINPro-Medium.woff') format('woff'),
    url('~static/fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('~static/fonts/DINPro-Bold.eot');
  src: local('~static/fonts/DIN Pro Bold'), local('DINPro-Bold'),
    url('~static/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/DINPro-Bold.woff') format('woff'),
    url('~static/fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('~static/fonts/DINPro-Black.eot');
  src: local('~static/fonts/DIN Pro Black'), local('DINPro-Black'),
    url('~static/fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/DINPro-Black.woff') format('woff'),
    url('~static/fonts/DINPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'DIN Pro', sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #fff;
}
a {
  text-decoration: none;
}
img {
  width: max-content;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
</style>
