<template>
  <div class="wrapper-home">
    <div class="header-block">Рекламодателям</div>
    <div class="block-description">
      Наш сервис обеспечит вам продвижение вашего сайта, форума, страницы
      соцсети, YouTube, Вконтакте, программы или игры среди пользователей
      интернета. Мы приведём к вам реальных пользователей и обеспечим
      качественный трафик с гибкими настройками таргетинга!
    </div>
    <div class="service-row">
      <div class="service-block">
        <div class="service-block__header">
          <div class="service-block__icon"><TodoSvg /></div>
          <h2 class="service-block__title">
            МНОГОФУНКЦИОНАЛЬНЫЙ СЕРВИС ЗАДАНИЙ
          </h2>
        </div>
        <p class="service-block__desc">
          Реальные люди выполнят любые ваши задания
        </p>
        <ul class="service-block__list">
          <li class="service-block__item">
            Расширенные настройки таргетинга и интервалов.
          </li>
          <li class="service-block__item">
            Автоматическая расшифровка GCLID кода в отчете.
          </li>
          <li class="service-block__item">
            Целевая аудитория и качественные выполнения.
          </li>
          <li class="service-block__item">
            Ручная или автоматическая проверка отчетов.
          </li>
        </ul>
      </div>
      <div class="service-block">
        <div class="service-block__header">
          <div class="service-block__icon"><SeoSvg /></div>
          <h2 class="service-block__title">
            ПРОДВИЖЕНИЕ САЙТОВ В ПОИСКОВЫХ СИСТЕМАХ
          </h2>
        </div>
        <p class="service-block__desc">
          Реальные исполнители найдут сайт по Вашим поисковым запросам
        </p>
        <ul class="service-block__list">
          <li class="service-block__item">
            Переходы на сайт со страниц Google или Яндекс.
          </li>
          <li class="service-block__item">
            Переходы на сайт по ключевым словам.
          </li>
          <li class="service-block__item">Клики по рекламе на Вашем сайте.</li>
          <li class="service-block__item">
            Возможность включения Эксперт режима.
          </li>
        </ul>
      </div>
      <div class="service-block">
        <div class="service-block__header">
          <div class="service-block__icon"><YoutubeSvg /></div>
          <h2 class="service-block__title">
            ПРОДВИЖЕНИЕ YOUTUBE ВИДЕО-КАНАЛОВ
          </h2>
        </div>
        <p class="service-block__desc">
          Огромная аудитория реальных людей с удовольствием готова:
        </p>
        <ul class="service-block__list">
          <li class="service-block__item">Посмотреть Ваше видео.</li>
          <li class="service-block__item">Подписаться на Ваш YouTube канал.</li>
          <li class="service-block__item">Поставить лайк Вашему видео.</li>
          <li class="service-block__item">
            Автоматическая проверка выполнений.
          </li>
        </ul>
      </div>
      <div class="service-block">
        <div class="service-block__header">
          <div class="service-block__icon"><VkSvg /></div>
          <h2 class="service-block__title">ПРОДВИЖЕНИЕ ГРУПП ВКОНТАКТЕ</h2>
        </div>
        <p class="service-block__desc">Десятки тысяч реальных людей захотят:</p>
        <ul class="service-block__list">
          <li class="service-block__item">Вступить в Вашу группу.</li>
          <li class="service-block__item">Рассказать о ней друзьям.</li>
          <li class="service-block__item">
            Создать пост о ней, поставить лайк.
          </li>
          <li class="service-block__item">
            Автоматическая проверка выполнений.
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import TodoSvg from '@/static/icons/svg/todo.svg?inline'
import SeoSvg from '@/static/icons/svg/seo.svg?inline'
import VkSvg from '@/static/icons/svg/vk.svg?inline'
import YoutubeSvg from '@/static/icons/svg/youtube.svg?inline'
export default {
  components: {
    TodoSvg,
    SeoSvg,
    VkSvg,
    YoutubeSvg,
  },
}
</script>

<style lang="scss">
.service-block__item {
  display: block;
  color: $current-color;
  font-weight: 500;
  margin-bottom: 10px;
}
</style>
