<template>
  <div class="auth">
    <div class="content-text">
      <div class="header-block">ВХОД В АККАУНТ</div>
      <div class="auth-form">
        <div class="form-group">
          <input type="text" placeholder="Логин или email" />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Ваш пароль" />
        </div>
        <a href="" class="btn-link">Забыли пароль?</a>
        <div class="btn-group__jcsb">
          <button class="btn btn-primary">Войти</button>
          <NuxtLink to="/register" class="btn btn-default"
            >Регистрация</NuxtLink
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  head() {
    return {
      title: 'Авторизация',
      meta: [
        {
          hid: 'Авторизация',
          name: 'Авторизация',
          content: 'Авторизация',
        },
      ],
    }
  },
}
</script>
