<template>
  <div class="auth">
    <div class="content-text">
      <div class="header-block">Регистрация аккаунта</div>
      <div class="auth-form full-form">
        <div class="form-group">
          <label for="">Придумайте Логин (англ.)</label>
          <input type="text" placeholder="" />
        </div>
        <div class="form-group">
          <label for="">Ваш действующий E-mail</label>
          <input type="text" placeholder="" />
        </div>
        <div class="form-group">
          <label for="">Ваш пароль</label>
          <input type="password" placeholder="" />
        </div>
        <div class="form-group">
          <label for="">Подтвердите пароль</label>
          <input type="password" placeholder="" />
        </div>
        <div class="auth-form__ref">
          <div class="auth-form__ref-item">
            <div class="auth-form__ref-item-card">
              <img
                src="https://profitcentr.me/ava/g/gremlin87.png"
                alt=""
                class="auth-form__ref-avatar"
              />
              <p class="auth-form__ref-username">
                ooodrion <span class="user-status">(Олигарх)</span>
              </p>
              <span class="auth-form__ref-item-info">
                <span class="auth-form__ref-tlt"
                  >Рейтинг:<b>71198</b> Авторефбек: <b>90%</b></span
                >
              </span>
            </div>
          </div>
          <div class="auth-form__ref-item">
            <div class="auth-form__ref-item-card">
              <img
                src="https://profitcentr.me/ava/g/gremlin87.png"
                alt=""
                class="auth-form__ref-avatar"
              />
              <p class="auth-form__ref-username">
                ooodrion <span class="user-status">(Олигарх)</span>
              </p>
              <span class="auth-form__ref-item-info">
                <span class="auth-form__ref-tlt"
                  >Рейтинг:<b>71198</b> Авторефбек: <b>90%</b></span
                >
              </span>
            </div>
          </div>
          <div class="auth-form__ref-item">
            <div class="auth-form__ref-item-card">
              <img
                src="https://profitcentr.me/ava/g/gremlin87.png"
                alt=""
                class="auth-form__ref-avatar"
              />
              <p class="auth-form__ref-username">
                ooodrion <span class="user-status">(Олигарх)</span>
              </p>
              <span class="auth-form__ref-item-info">
                <span class="auth-form__ref-tlt"
                  >Рейтинг:<b>71198</b> Авторефбек: <b>90%</b></span
                >
              </span>
            </div>
          </div>
          <div class="auth-form__ref-item">
            <div class="auth-form__ref-item-card">
              <img
                src="https://profitcentr.me/ava/g/gremlin87.png"
                alt=""
                class="auth-form__ref-avatar"
              />
              <p class="auth-form__ref-username">
                ooodrion <span class="user-status">(Олигарх)</span>
              </p>
              <span class="auth-form__ref-item-info">
                <span class="auth-form__ref-tlt"
                  >Рейтинг:<b>71198</b> Авторефбек: <b>90%</b></span
                >
              </span>
            </div>
          </div>
          <div class="auth-form__ref-item">
            <div class="auth-form__ref-item-card">
              <img
                src="https://profitcentr.me/ava/g/gremlin87.png"
                alt=""
                class="auth-form__ref-avatar"
              />
              <p class="auth-form__ref-username">
                ooodrion <span class="user-status">(Олигарх)</span>
              </p>
              <span class="auth-form__ref-item-info">
                <span class="auth-form__ref-tlt"
                  >Рейтинг:<b>71198</b> Авторефбек: <b>90%</b></span
                >
              </span>
            </div>
          </div>
        </div>
        <div class="btn-group__jcsb">
          <button class="btn btn-default">Регистрация</button>
          <NuxtLink to="/login" class="btn btn-primary">Войти</NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Регистрация',
      meta: [
        {
          hid: 'Регистрация аккаунта',
          name: 'Регистрация аккаунта',
          content: 'Регистрация аккаунта',
        },
      ],
    }
  },
}
</script>
