<template>
  <div class="content-container">
    <div class="header-block">АВТОМАТИЧЕСКИЕ КОНКУРСЫ ДЛЯ РЕФЕРАЛОВ</div>
    <p class="block-description">
      Конкурсы - Вы можете значительно повысить активность своих рефералов,
      стимулировав их работу путем создания различных конкурсов. Конкурсы
      оплачиваются автоматически при запуске. Оплата производится с рекламного
      счета. Обязательно прочтите FAQ по созданию конкурсов
    </p>
    <button class="btn btn-default btn-margin__auto">
      Создать новый конкурс для рефералов
    </button>
  </div>
</template>
<script></script>
