<template>
  <div class="content-container">
    <div class="header-block">Биржа рефералов</div>
    <p class="block-description">
      Основа хорошего заработка на ProfiTCentR это рефералы. Ваш реферал это
      пользователь которого Вы пригласите на проект. Для приглашения рефералов
      используйте реф-ссылки или баннеры. Здесь Вы можете составить
      приветственное сообщение, которое Ваши рефералы получат по внутренней
      почте сразу после регистрации.
    </p>
    <p class="header-block">Ссылки и баннеры для привлечения рефералов</p>
    <div class="content-ref__links">
      <div class="content-ref__links-item">
        <label class="form-label" for="">На главную страницу:</label>
        <input
          class="form-control"
          type="text"
          value="https://profitcentr.com/?r=login666"
        />
      </div>
      <div class="content-ref__links-item">
        <label class="form-label" for="">На страницу регистрации:</label>
        <input
          class="form-control"
          type="text"
          value="https://profitcentr.com/?r=login666"
        />
      </div>
    </div>
    <div class="content-tabs">
      <ul class="content-tabs-header">
        <li
          class="content-tab__item"
          :class="{ active: isActiveTab === 0 }"
          @click.prevent="isActiveTab = 0"
        >
          468x60
        </li>
        <li
          class="content-tab__item"
          :class="{ active: isActiveTab === 1 }"
          @click.prevent="isActiveTab = 1"
        >
          200x300
        </li>
        <li
          class="content-tab__item"
          :class="{ active: isActiveTab === 2 }"
          @click.prevent="isActiveTab = 2"
        >
          100x100
        </li>
        <li
          class="content-tab__item"
          :class="{ active: isActiveTab === 3 }"
          @click.prevent="isActiveTab = 3"
        >
          88x31
        </li>
      </ul>
      <div class="content-tab__body">
        <div
          class="content-tab__wrapper"
          :class="{ active: isActiveTab === 0 }"
        >
          <div class="content-tab__banners">
            <div class="content-tab__banner-item">
              <img
                src="https://profitcentr.com/images/pictures/profit12bs.gif"
                alt="banner 468x60"
              />
              <div class="content-ref__form">
                <div class="form-group">
                  <label class="form-label" for=""
                    >URL сайта (ваша реферальная ссылка)</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    value="https://profitcentr.com/?r=aslero"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label" for=""
                    >Код для размещения на своем сайте</label
                  >
                  <textarea
                    id=""
                    class="form-control"
                    name=""
                    cols="30"
                    rows="5"
                  >
&lt;a href="https://profitcentr.com/?r=aslero" target="_blank"&gt;&lt;img src="https://profitcentr.com/images/pictures/profit12bs.gif" style="width:468px;heigh:60px" alt="ProfitCentr - рекламное агентство"&gt;&lt;/a&gt;</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-tab__wrapper"
          :class="{ active: isActiveTab === 1 }"
        >
          <div class="content-tab__banners">
            <div class="content-tab__banner-item">
              <img
                src="https://profitcentr.com/images/pictures/profit12bs.gif"
                alt="banner 468x60"
              />
              <div class="content-ref__form">
                <div class="form-group">
                  <label class="form-label" for=""
                    >URL сайта (ваша реферальная ссылка)</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    value="https://profitcentr.com/?r=aslero"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label" for=""
                    >Код для размещения на своем сайте</label
                  >
                  <textarea
                    id=""
                    class="form-control"
                    name=""
                    cols="30"
                    rows="5"
                  >
&lt;a href="https://profitcentr.com/?r=aslero" target="_blank"&gt;&lt;img src="https://profitcentr.com/images/pictures/profit12bs.gif" style="width:468px;heigh:60px" alt="ProfitCentr - рекламное агентство"&gt;&lt;/a&gt;</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-tab__wrapper"
          :class="{ active: isActiveTab === 2 }"
        >
          <div class="content-tab__banners">
            <div class="content-tab__banner-item">
              <img
                src="https://profitcentr.com/images/pictures/profit12bs.gif"
                alt="banner 468x60"
              />
              <div class="content-ref__form">
                <div class="form-group">
                  <label class="form-label" for=""
                    >URL сайта (ваша реферальная ссылка)</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    value="https://profitcentr.com/?r=aslero"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label" for=""
                    >Код для размещения на своем сайте</label
                  >
                  <textarea
                    id=""
                    class="form-control"
                    name=""
                    cols="30"
                    rows="5"
                  >
&lt;a href="https://profitcentr.com/?r=aslero" target="_blank"&gt;&lt;img src="https://profitcentr.com/images/pictures/profit12bs.gif" style="width:468px;heigh:60px" alt="ProfitCentr - рекламное агентство"&gt;&lt;/a&gt;</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="content-tab__wrapper"
          :class="{ active: isActiveTab === 3 }"
        >
          <div class="content-tab__banners">
            <div class="content-tab__banner-item">
              <img
                src="https://profitcentr.com/images/pictures/profit12bs.gif"
                alt="banner 468x60"
              />
              <div class="content-ref__form">
                <div class="form-group">
                  <label class="form-label" for=""
                    >URL сайта (ваша реферальная ссылка)</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    value="https://profitcentr.com/?r=aslero"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label" for=""
                    >Код для размещения на своем сайте</label
                  >
                  <textarea
                    id=""
                    class="form-control"
                    name=""
                    cols="30"
                    rows="5"
                  >
&lt;a href="https://profitcentr.com/?r=aslero" target="_blank"&gt;&lt;img src="https://profitcentr.com/images/pictures/profit12bs.gif" style="width:468px;heigh:60px" alt="ProfitCentr - рекламное агентство"&gt;&lt;/a&gt;</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isActiveTab: 0,
    }
  },
}
</script>

<style lang="scss">
.content-ref__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-ref__links-item {
  width: 48%;
}
.content-tabs-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-tab__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: $current-color;
  color: #fff;
  &.active {
    background-color: $second-color;
  }
}
.content-tab__wrapper {
  display: none;
  &.active {
    display: block;
  }
}
.content-tab__banners {
  display: flex;
  flex-wrap: column;
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
}
.content-tab__banner-item {
  display: flex;
  flex-direction: column;
}
.content-ref__form {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}
</style>
