<template>
  <div class="ref-wall">
    <div class="header-block">Рассылка писем</div>
    <div class="block-description">
      На TriosCentR можно легко держать связь с другими участниками проекта, но
      необходимо помнить, что запрещено использовать СПАМ, нецензурную лексику,
      оскорблять участников проекта и использовать почту в рекламных целях.
      Администрация имеет право просматривать почту и наказывать нарушителей
    </div>
    <nav class="list-box">
      <a href="" class="list-box__item"
        >Прежде чем задать вопрос администрации, прочтите раздел Помощь</a
      >
      <a href="" class="list-box__item"
        >Вы можете задать вопрос другим пользователям в нашем Чате</a
      >
    </nav>
    <div class="header-block">Массовая рассылка писем</div>
    <form action="" class="form-ref__felcome">
      <div class="form-group">
        <label class="form-label">Содержание письма:</label>
        <textarea id="" name="" class="form-control" rows="5"></textarea>
      </div>
      <button class="btn btn-default btn-margin__auto">Отправить</button>
    </form>
  </div>
</template>

<script></script>
