<template>
  <div class="ref-wall">
    <div class="header-block">РЕФ-СТЕНА (GOODREF)</div>
    <nuxt-link to="" :class="'btn btn-default btn-margin__auto'"
      >занять место</nuxt-link
    >
    <div class="_tableResponsive">
      <table class="ref-list">
        <thead>
          <tr>
            <th></th>
            <th>Логин</th>
            <th class="font-color__second">Рейтинг</th>
            <th>АвтоРефбек</th>
            <th>Комментарий</th>
            <th>Присоединиться</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(ref, index) in 12" :key="index">
            <td>
              <img
                src="~/assets/images/avatars/com-user.png"
                class="table-pic"
                alt=""
              />
            </td>
            <td>
              <a href="" class="user-link">striker777</a>
            </td>
            <td class="font-color__second">43626</td>
            <td>90%</td>
            <td>С меня конкурсы и бонусы</td>
            <td>
              <button class="btn-link">присоединиться</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
}
</script>

<style scoped></style>
