<template>
  <div class="content-container">
    <div class="header-block">БИРЖА РЕФЕРАЛОВ</div>
    <p class="block-description">
      Основа хорошего заработка на ProfiTCentR это рефералы. Ваш реферал это
      пользователь которого Вы пригласите на проект. Для приглашения рефералов
      используйте реф-ссылки или баннеры. Здесь Вы можете составить
      приветственное сообщение, которое Ваши рефералы получат по внутренней
      почте сразу после регистрации.
    </p>
    <table>
      <thead>
        <tr>
          <th>Аватар</th>
          <th>ID / Логин / Рейтинг / Продавец</th>
          <th>Серфинг / Задания</th>
          <th>Регистрация / Заходил</th>
          <th></th>
          <th>Рефералы</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in 12" :key="index">
          <td>
            <img
              src="~/assets/images/avatars/com-user.png"
              class="table-pic"
              alt=""
            />
          </td>
          <td>
            <ul class="table-compare__list">
              <li class="table-compare__list-item">ID: 2431452</li>
              <li class="table-compare__list-item">
                <a href="">striker777</a>
              </li>
              <li class="table-compare__list-item">Рейтинг: 5.80</li>
              <li class="table-compare__list-item">Продавец: maxmaster</li>
            </ul>
          </td>
          <td>
            <ul class="table-compare__list">
              <li class="table-compare__list-item">Серфинг: 20</li>
              <li class="table-compare__list-item">Задания: 1</li>
              <li class="table-compare__list-item">Тесты: 0</li>
              <li class="table-compare__list-item">Письма: 19</li>
              <li class="table-compare__list-item">Ютуб: 0</li>
              <li class="table-compare__list-item">ВК: 0</li>
            </ul>
          </td>
          <td>
            <ul class="table-compare__list">
              <li class="table-compare__list-item">16.03.2019</li>
              <li class="table-compare__list-item">Сегодня в 14:34</li>
            </ul>
          </td>
          <td>
            <button class="btn-chart">
              <IconChart />
            </button>
          </td>
          <td>0</td>
          <td>
            <button class="btn-cart">
              30
              <IconCart />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import IconCart from '@/static/icons/svg/cart.svg?inline'
import IconChart from '@/static/icons/svg/chart.svg?inline'
export default {
  components: {
    IconCart,
    IconChart,
  },
}
</script>
