<template>
  <div class="ref-wall">
    <div class="header-block">Приветствие для рефералов</div>
    <div class="block-description">
      С помощью данной формы Вы можете создать и установить приветственное
      сообщение для всех ваших потенциальных (новых) рефералов. Сообщение будет
      отправлено рефералу по внутренней почте автоматически, при его
      регистрации. Ваши реф-ссылки и баннеры для приглашения рефералов находятся
      здесь.
    </div>
    <form action="" class="form-ref__felcome">
      <div class="form-group">
        <label class="form-label">Текст сообщения</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="form-label">Содержание письма:</label>
        <textarea id="" name="" class="form-control" rows="5"></textarea>
      </div>
      <button class="btn btn-default btn-margin__auto">Сохранить</button>
    </form>
  </div>
</template>

<script></script>
