<template>
  <div class="posts">
    <div class="post-item">
      <img src="~/assets/images/news/news.png" alt="" class="post-img" />
      <div class="post-info">
        <div class="post-meta">
          <span class="meta-date">8 марта 2019</span>
        </div>
        <h2 class="post-title">Обновления за период.</h2>
        <div class="post-description">
          <p>Уважаемые пользователи.</p>

          <p>
            С целью защиты от фишинга для безопасности Ваших аккаунтов, мы
            реализовали дополнительную защиту. Если конфигурация Вашего
            устройства будет отличаться от той что Вы входили ранее, то система
            запросит индивидуальный - одноразовый код, который будет отправлен
            на Ваш E-mail адрес, указанный при регистрации. В первый раз эту
            процедуру должен пройти каждый участник проекта, а далее только в
            случае необходимости. Альтернативный вход через соцсети.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.post-img {
  margin-bottom: 15px;
}
.post-item {
  position: relative;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccd6e6;
  display: flex;
  flex-direction: column;
}
.post-title {
  font-weight: 500;
  font-size: 16px;
  color: $current-color;
  margin-bottom: 2 * $gap;
}
.post-description {
  max-width: 70%;
}
</style>
