<template>
  <div class="msg-chat">
    <div class="chat-header">
      <div class="chat-header__status">
        <p class="status">
          Статус <span class="label red">Ожидает ответа</span>
        </p>
        <p class="room">Отдел <span> Финансовый </span></p>
      </div>
      <span class="_metaDate">07.02.2020</span>
    </div>
    <div class="chat-messages">
      <div class="chat-message chat-message__user">
        <div class="chat-message__header">
          <p>Вы</p>
          <p class="_metaDate">07.02.2019</p>
        </div>
        <div class="chat-message__replay">
          <p>Как быть крутым</p>
        </div>
      </div>
      <div class="chat-message chat-message__user">
        <div class="chat-message__header">
          <p>Вы</p>
          <p class="_metaDate">07.02.2019</p>
        </div>
        <div class="chat-message__replay">
          <p>вот так</p>
        </div>
      </div>
      <div class="chat-message">
        <div class="chat-message__header">
          <p>15</p>
          <p class="_metaDate">07.02.2019</p>
        </div>
        <div class="chat-message__replay">
          <p>78</p>
        </div>
      </div>
      <div class="chat-message chat-message__user">
        <div class="chat-message__header">
          <p>Вы</p>
          <p class="_metaDate">07.02.2019</p>
        </div>
        <div class="chat-message__replay">
          <p>Хай</p>
        </div>
      </div>
    </div>

    <div class="chat-send__box">
      <textarea
        autocomplete="off"
        placeholder="Введите сообщение:"
        name="message"
        class="chat-send__input"
      ></textarea>
      <button type="button" class="chat-send__btn"><IconSend /></button>
    </div>
  </div>
</template>

<script>
import IconSend from '@/static/icons/svg/send.svg?inline'
export default {
  name: 'Id',
  components: {
    IconSend,
  },
}
</script>

<style lang="scss">
.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-header__status {
  display: flex;
  align-items: center;
}
.chat-messages {
  max-height: 500px;
  padding: 0 20px 0 0;
  overflow-x: hidden;
}
.chat-message {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background-color: #f6f6f6;
  width: 80%;
  margin-right: calc(20% - 40px);
}
.chat-message__user {
  border: 1px solid #ffdc24;
  margin-left: calc(20% - 40px);
  p {
    margin: 0;
  }
}
.chat-message__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-message__replay {
  font-size: 18px;
  line-height: 22px;
  p {
    margin: 0;
  }
}
.chat-send__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-send__input {
  width: calc(100% - 50px);
  border-radius: 3px;
}
.chat-send__btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  svg {
    width: 45px;
    height: 45px;
    fill: $font-color;
    stroke: $font-color;
  }
}
</style>
