<template>
  <div class="supports">
    <div class="support-item">
      <div class="support-card">
        <nuxt-link to="/supports/1" :class="'supportLink'"></nuxt-link>
        <div class="support-header">
          <span class="meta-date">2019-06-19</span>
          <div class="support-status">Ожидает</div>
        </div>
        <div class="support-body">
          <span class="support-meta__title">Тема</span>
          <p class="support-title">Как быть крутым</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.support-item {
  padding: 10px 20px;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  border: 1px solid transparent;
  &:hover {
    border-color: $current-color;
  }
}
.support-card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.support-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.support-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
